.job-detail {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    margin: 1em;

    table {
      td {
        padding: 0.3em;
      }

      th {
        text-align: left;
        padding-right: 0.5em;

        mat-icon {
          vertical-align: middle;
        }
      }
    }
  }
}
