@use "sass:map";
@use "@angular/material" as mat;

mat-card {
  margin: 1em;

  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }

  table {
    th {
      min-width: 10rem;
      padding-right: 0.5rem;
      text-align: left;
    }

    td {
      width: 100%;
      padding: 0.5rem 0;
    }
  }
}
