<mat-card-content class="login-container" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <img
        mat-card-image
        class="facility_logo"
        src="assets/images/esslogo.png"
      />
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
          <mat-form-field hintLabel="firstnamelastname">
            <input
              matInput
              formControlName="username"
              placeholder="username"
            />
            <mat-label> <b> Username</b> </mat-label>
            <button mat-button matPrefix mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
            <mat-hint align="end">hint</mat-hint>
          </mat-form-field>

          <mat-form-field hintLabel="ESS account password">
            <input
              matInput
              formControlName="password"
              placeholder="password"
              type="password"
            />
            <mat-label> <b> Password</b> </mat-label>
            <button mat-button matPrefix mat-icon-button>
              <mat-icon>vpn_key</mat-icon>
            </button>
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint align="end">hint</mat-hint>
          </mat-form-field>
          <button
            mat-button
            type="submit"
            [ngClass]="{ loading: loading$ | async }"
          >
            Log in
          </button>
          <mat-checkbox name="rememberMe">Remember me</mat-checkbox>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card-content>
