@import "../../../theme.scss";

.login-container {
  padding-top: 10em;

  mat-card {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);

    mat-card-header {
      .facility-logo {
        max-width: 200px;
        margin: 20px 31px 36px 0;
      }
    }

    mat-card-content {
      mat-form-field {
        width: 100%;

        mat-icon {
          vertical-align: middle;
        }
      }

      .login-button {
        margin-top: 1em;
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }

      mat-checkbox {
        margin-left: 1em;
      }
    }
  }
}

// Needed to maintain logo aspect ratio in iOS browsers
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .login-container {
      mat-card {
        mat-card-header {
          .facility_logo {
            object-fit: contain;
            margin: 0 31px 0 0;
          }
        }
      }
    }
  }
}
