.main-login {
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 3.5rem);

  .login-container {
    padding-top: 10em;
    mat-card {
      width: 100%;
      max-width: 350px;
      background-color: rgba(255, 255, 255, 0.8);

      .facility-logo {
        margin: 2em 0;

        img {
          max-width: 200px;
        }
      }
      mat-card-content {
        ::ng-deep .mat-tab-labels .mat-tab-label {
          min-width: 4rem;
          width: 100%;
        }

        .external-login {
          padding: 0.5em 0;
          text-align: center;
        }

        .internal-login {
          padding: 1em;
        }

        mat-form-field {
          width: 100%;

          mat-icon {
            vertical-align: middle;
          }
        }

        .privacy-notice {
          margin-top: 1em;
        }

        mat-checkbox {
          margin-left: 1em;
        }

        .oauth-login-button {
          height: 40px;
          width: 200px;
          margin-top: 1em;
          cursor: pointer;
          display: inline-block;
        }

        .oauth-login-image {
          height: 24px;
          width: 24px;
          float: left;
          padding: 6px;
        }
        mat-checkbox {
          margin-left: 1em;
        }
      }
    }
  }
}
