@import "../../../theme.scss";

.login-container {
  margin-top: 1em;

  mat-card {
    background-color: rgba(255, 255, 255, 0.9);

    mat-card-header {
      .facility_logo {
        max-width: 200px;
        margin: 20px 31px 36px 0;
      }
    }

    mat-card-content {
      .field {
        max-width: 20em;
      }

      mat-checkbox {
        margin-left: 1em;
      }
    }
  }
}

// Needed to maintin logo aspect ratio in iOS browsers
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .login-container {
      mat-card {
        mat-card-header {
          .facility_logo {
            object-fit: contain;
            margin: 0 31px 0 0;
          }
        }
      }
    }
  }
}
