.sample-detail .details {
  padding: 1em;

  table {
    td {
      padding: 0.5em;
      vertical-align: middle;
    }

    th {
      text-align: left;
      padding-right: 0.5em;
      vertical-align: middle;
    }
  }

  h3 {
    margin-top: 1em;
  }
}
