
form  {  display: table !important;  
width: 80%;    }
.entry { display: table-row !important;  }
label { display: table-cell !important; }
input { display: table-cell !important; width: 100% !important; }