<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <p *ngIf="data.question">{{ data.question }}</p>

  <form #dynamicForm="ngForm">
    <mat-form-field appearance="outline" class="full-width" *ngIf="data.choice">
      <mat-label>{{ data.label ?? data.title }}</mat-label>
      <mat-select [(ngModel)]="data.selectedOption" name="primaryReason"
        required>
        <mat-option *ngFor="let opt of data.choice.options"
          [matTooltip]="opt.tooltip" 
          [value]="opt.option">
          {{ opt.option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let field of data.additionalFields | keyvalue">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ field.value.label }}</mat-label>

        <textarea *ngIf="field.value.type === 'textarea'" matInput
          [(ngModel)]="data[field.key]" [name]="field.key"
          [required]="field.value.required">
        </textarea>

        <mat-select *ngIf="field.value.type === 'select'"
          [(ngModel)]="data[field.key]" [name]="field.key"
          [required]="field.value.required">
          <mat-option *ngFor="let opt of field.value.options"
            [matTooltip]="opt.tooltip" 
            [value]="opt.option">
            {{ opt.option }}
          </mat-option>
        </mat-select>

        <input *ngIf="field.value.type === 'text'" matInput
          [(ngModel)]="data[field.key]" [name]="field.key"
          [required]="field.value.required">

        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data"
    [disabled]="dynamicForm.invalid">
    Ok
  </button>
</div>
