<div class="policies"></div>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons"> </i> Readable
    </ng-template>
    <div>
      <mat-paginator
        class="policy-paginator"
        [pageSize]="itemsPerPage$ | async"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="currentPage$ | async"
        [length]="policyCount$ | async"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
      <mat-table
        [dataSource]="policies$ | async"
        class="policy-table-readable mat-elevation-z2"
        matSort
        (matSortChange)="onSortChange($event)"
      >
        <!-- Column Definitions -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef ng-disabled="true">
            <mat-checkbox
              [checked]="allAreSelected()"
              (change)="handleSelectAll($event)"
            >
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" ng-disabled="true">
            <mat-checkbox
              [checked]="isChecked(row)"
              (change)="handleSelect($event, row)"
              (click)="$event.stopPropagation()"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="manager">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">account_box</i>
              </div>
              <div class="table_column">manager</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.manager }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ownerGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">people</i>
              </div>
              <div class="table_column">Group</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.ownerGroup }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tapeRedundancy">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">voicemail</i>
              </div>
              <div class="table_column">Tape Redundancy</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.tapeRedundancy
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="autoArchive">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">archive</i>
              </div>
              <div class="table_column">Auto Archive</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.autoArchive }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="autoArchiveDelay">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">timer</i>
              </div>
              <div class="table_column">Auto Archive Delay</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.autoArchiveDelay
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="archiveEmailNotification">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">email</i>
              </div>
              <div class="table_column">Archive Email Notification</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.archiveEmailNotification
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="archiveEmailsToBeNotified">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">playlist_add</i>
              </div>
              <div class="table_column">Archive Emails</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.archiveEmailsToBeNotified
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="retrieveEmailNotification">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">email</i>
              </div>
              <div class="table_column">Retrieve Email Notification</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.retrieveEmailNotification
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="retrieveEmailsToBeNotified">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">playlist_add</i>
              </div>
              <div class="table_column">Retrieve Emails</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.retrieveEmailsToBeNotified
          }}</mat-cell>
        </ng-container>

        <!-- End of Column Definitions -->

        <mat-header-row
          class="policies-header"
          *matHeaderRowDef="readableDisplayedColumns"
        ></mat-header-row>
        <mat-row
          class="row-generic"
          *matRowDef="let policy; columns: readableDisplayedColumns"
        >
        </mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons"> </i> Editable
    </ng-template>

    <div fxLayout="column" fxLayoutGap="row" fxLayoutAlign="end end">
      <div>
        <ng-container *ngIf="editEnabled">
          <button
            mat-button
            [disabled]="selectedPolicies.length === 0"
            (click)="onEditClick()"
            color="primary"
          >
            <mat-icon>edit</mat-icon> Edit Selection
          </button>
        </ng-container>
      </div>
      <mat-paginator
        class="policy-paginator-editable"
        [pageSize]="itemsPerPage$ | async"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="currentPage$ | async"
        [length]="policyCount$ | async"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>

    <div fxLayout="column" fxLayoutGap="column">
      <div>
        <mat-table
          [dataSource]="editablePolicies$ | async"
          class="policy-table mat-elevation-z2"
          matSort
          (matSortChange)="onSortChange($event)"
        >
          <!-- Column Definitions -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                [checked]="allAreSelected()"
                (change)="handleSelectAll($event)"
              >
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox
                [checked]="isChecked(row)"
                (change)="handleSelect($event, row)"
                (click)="$event.stopPropagation()"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

                 <ng-container matColumnDef="manager">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">account_box</i>
              </div>
              <div class="table_column">manager</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.manager }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ownerGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">people</i>
              </div>
              <div class="table_column">Group</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.ownerGroup }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tapeRedundancy">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">voicemail</i>
              </div>
              <div class="table_column">Tape Redundancy</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.tapeRedundancy
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="autoArchive">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">archive</i>
              </div>
              <div class="table_column">Auto Archive</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{ policy.autoArchive }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="autoArchiveDelay">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">timer</i>
              </div>
              <div class="table_column">Auto Archive Delay</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.autoArchiveDelay
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="archiveEmailNotification">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">email</i>
              </div>
              <div class="table_column">Archive Email Notification</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.archiveEmailNotification
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="archiveEmailsToBeNotified">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">playlist_add</i>
              </div>
              <div class="table_column">Archive Emails</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.archiveEmailsToBeNotified
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="retrieveEmailNotification">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">email</i>
              </div>
              <div class="table_column">Retrieve Email Notification</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.retrieveEmailNotification
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="retrieveEmailsToBeNotified">
          <mat-header-cell *matHeaderCellDef >
            <div fxLayout="column" style="align-items: center; text-align: center">
              <div>
                <i class="material-icons">playlist_add</i>
              </div>
              <div class="table_column">Retrieve Emails</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let policy">{{
            policy.retrieveEmailsToBeNotified
          }}</mat-cell>
        </ng-container>

          <!-- End of Column Definitions -->

          <mat-header-row
            class="policies-header"
            *matHeaderRowDef="editableDisplayedColumns"
          ></mat-header-row>
          <mat-row
            class="row-generic"
            *matRowDef="let policy; columns: editableDisplayedColumns"
          >
          </mat-row>
        </mat-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
