<!--TODO add configuration and error/success message div-->
<mat-card>
    <form #f="ngForm" [formGroup]="dsFormGroup" (ngSubmit)="updateModel(f.value)" *ngIf="formData">
        <!--TODO handle different kinds of input and formats. I.e. dropdowns, checkboxes etc-->
        <div *ngFor="let d of formData | objKeys">
            <label>{{d.key | titleCase}}</label>
            <div [ngSwitch]="getType(d.key, d.value)">
                <input ngui-datetime-picker *ngSwitchCase="'Date'" formControlName="{{d.key}}" placeholder="" [close-on-select]="false">
                <ay-treeTable [value]="objData[d.key]" selectionMode="single" *ngSwitchCase="'object'">
                    <ay-column field="name" header="Name"></ay-column>
                    <ay-column field="value" header="Value"></ay-column>
                </ay-treeTable>
                <mat-slide-toggle
                    [color]="color"
                    [checked]="d.value"
                    formControlName="{{d.key}}"
                    *ngSwitchCase="'Boolean'"
                >
                    </mat-slide-toggle>
                <!--<textarea *ngSwitchCase="'object'" formControlName="{{d.key}}"></textarea>-->
                <mat-form-field class="example-full-width" *ngSwitchDefault>
                    <input matInput formControlName="{{d.key}}" placeholder="">
                </mat-form-field>
            </div>
        </div>
        <ng-container *ngIf="enabled">
            <button mat-raised-button>Update</button>
        </ng-container>
    </form>
</mat-card>