.clear-button {
  margin-left: auto;
}

mat-form-field {
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .big-filters {
    margin: 4em 1em 1em 0;

    .title {
      font-size: 1.25em;
    }
  }

  .small-filters {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .big-filters {
    display: none;
  }

  .small-filters {
    margin: 1em 0;
  }
}
