<mat-card class="big-filters">
  <mat-card-header class="section-container">
    <mat-card-title>Search</mat-card-title>
    <button
      mat-button
      class="clear-button"
      color="primary"
      [disabled]="!hasAppliedFilters"
      (click)="doClear()"
    >
      <mat-icon>clear_all</mat-icon> Clear
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-search-bar
      [prefilledValue]="searchBarValue"
      [clear]="clearSearchBar"
      (search)="doSearchChange($event)"
      (searchBarFocus)="doSearchChange($event)"
    ></app-search-bar>
    <mat-form-field>
      <mat-date-range-input [rangePicker]="largePicker">
        <input matStartDate placeholder="Start Date" />
        <input matEndDate placeholder="End Date" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matPrefix
        [for]="largePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #largePicker></mat-date-range-picker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<div class="small-filters">
  <button
    mat-button
    class="clear-button"
    color="primary"
    [disabled]="!hasAppliedFilters"
    (click)="doClear()"
  >
    <mat-icon>clear_all</mat-icon> Clear
  </button>
  <div style="clear: both"></div>
  <app-search-bar
    [prefilledValue]="searchBarValue"
    [clear]="clearSearchBar"
    (search)="doSearchChange($event)"
    (searchBarFocus)="doSearchChange($event)"
  ></app-search-bar>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Filters </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-date-range-input [rangePicker]="smallPicker">
        <input
          matStartDate
          [value]="dateRangeValue?.begin"
          (dateChange)="doDateChange($event)"
          placeholder="Start Date"
        />
        <input
          matEndDate
          [value]="dateRangeValue?.end"
          (dateChange)="doDateChange($event)"
          placeholder="End Date"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matPrefix
        [for]="smallPicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #smallPicker></mat-date-range-picker>
    </mat-form-field>
  </mat-expansion-panel>
</div>
