@use '~@angular/material' as mat;
@import "../../../styles.scss";

mat-icon {
  vertical-align: middle;
}

.warning-icon {
  color: mat.get-color-from-palette($yellow, 100);
}

.selected {
  margin-left: 2em;
}

.datafiles-header {
  margin-top: 1em;

  .nbr-of-files {
    font-size: larger;
  }

  .download-button {
    margin: 0 0 1em 1em;
    float: right;
  }
}
