mat-icon {
  vertical-align: middle;
}

.selected {
  margin-left: 2em;
}

.datafiles-header {
  margin-top: 1em;
  min-height: 40px;
  display: flow-root;

  .nbr-of-files {
    font-size: larger;
  }
}
