form {
  min-width: 50%;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 1em;
}

.file-uploader {
  margin: 1em;
}

mat-expansion-panel {
  margin: 1em 0;
}

button.save-and-continue {
  margin-left: 1em;
}

button.cancel {
  margin-left: 1em;
}
