<div fxLayout="row">
  <div fxFlex="140">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="mode === 'edit'">
          You are editing Published Data record.
        </mat-card-title>
        <p *ngIf="mode === 'create'">
          You are about to publish {{ datasetCount }} datasets.
        </p>
      </mat-card-header>

      <mat-card-content>
        <form
          *ngIf="formReady"
          [formGroup]="form"
          data-cy="editPublishedDataForm"
        >
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              id="titleInput"
              required
              matInput
              autocomplete="off"
              formControlName="title"
              name="title"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Abstract</mat-label>
            <textarea
              id="abstractInput"
              required
              matInput
              autocomplete="off"
              formControlName="abstract"
              name="abstract"
              rows="5"
            ></textarea>
          </mat-form-field>

          <mat-expansion-panel
            *ngIf="!isSchemaEmpty()"
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            data-cy="metadata"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Metadata </mat-panel-title>
              <mat-panel-description>
                {{
                  mode === "edit"
                    ? "Here you can edit the metadata."
                    : "Here you can add metadata to your published data."
                }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <jsonforms
              [data]="metadata"
              [schema]="schema"
              [uischema]="uiSchema"
              [renderers]="renderers"
              [ajv]="ajvService.getAjv()"
              (errors)="onErrors($event)"
              (dataChange)="onMetadataChange($event)"
            ></jsonforms>
          </mat-expansion-panel>

          <button
            id="saveButton"
            (click)="onSaveChanges()"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid"
          >
            Save changes
          </button>
          <button
            id="saveAndContinueButton"
            (click)="onSaveAndContinue()"
            class="save-and-continue"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid"
          >
            Save and Continue
          </button>
          <button
            id="cancelButton"
            (click)="onCancel()"
            class="cancel"
            mat-raised-button
          >
            Cancel
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
