sudo: required
dist: trusty
language: node_js
node_js:
  - '8.9'

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
- npm install
- npx ng build

scripts: 
- npm install codecov -g
- npm test

after_success:
  - codecov
