.array-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.array-layout > * {
  flex: 1 1 auto;
}
.array-layout-toolbar {
  display: flex;
  align-items: center;
}
.array-layout-title {
  margin: 0;
}
.array-layout-toolbar > span {
  flex: 1 1 auto;
}
.array-item {
  padding: 16px;
}
::ng-deep .error-message-tooltip {
  white-space: pre-line;
}
