mat-card {
  margin: 1em;

  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }
  .caption-text {
    word-break: break-all;
  }

  .method-name {
    min-width: 12rem;
    align-self: left;
    margin: 3rem;
    width: 20%;
  }

  table {
    th {
      min-width: 10rem;
      padding-right: 0.5rem;
      text-align: left;
    }

    td {
      width: 100%;
      padding: 0.5rem 0;

      .sample-edit {
        padding-left: 0.5rem;

        mat-icon {
          font-size: medium;
        }
      }

      .sample-edit:hover {
        cursor: pointer;
      }
    }

    .full-width {
      width: 100%;
    }

    .keywords-row {
      .add-keyword-chip:hover {
        cursor: pointer;
      }
    }
  }
  .deposition-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    margin: 1.5rem 3rem 1.5rem 3rem;

    min-width: 12rem;
    align-self: left;
    width: 40%;
  }

  .deposition-info {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
  }
  .ingestor {
    align-self: flex-start;
    width: 300px;  
    // margin-bottom: 1rem;
    background-color: #B3D9AC;
    color:black;
  }
}
