@import "../../../theme.scss";

mat-card {
  margin: 1em;

  .general-header {
    background-color: mat-color($primary, lighter);
  }

  .creator-header {
    background-color: mat-color($navy, 400);
  }

  .file-header {
    background-color: mat-color($accent, lighter);
  }

  .related-header {
    background-color: mat-color($forest, 400);
  }

  .derived-header {
    background-color: mat-color($orange, 400);
  }

  .scientific-header {
    background-color: mat-color($purple, 400);
  }

  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }

  table {
    th {
      min-width: 10em;
      padding-right: 0.5em;
      text-align: left;
    }

    td {
      width: 100%;
      padding: 0.5em;

      .sample-edit {
        padding-left: 0.5em;

        mat-icon {
          font-size: medium;
        }
      }

      .sample-edit:hover {
        cursor: pointer;
      }
    }

    .keywords-row {
      .add-keyword-chip:hover {
        cursor: pointer;
      }

      mat-form-field {
        width: 92%;
      }

      .done-edit-button {
        margin-left: 1em;
      }
    }
  }
}
