.container {
  margin: 1em;

  mat-icon {
    vertical-align: middle;
  }
}

::ng-deep mat-hint {
  white-space: nowrap;
  color: rgb(179, 0, 0);
}

@media only screen and (min-width: 1280px) {
  .container {
    .formRow {
      .formColumn {
        padding-right: 1em;

        .selectField {
          max-width: 8em;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .save-button {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 400px) {
  .save-button {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 1279px) {
  .container {
    .formRow {
      .formColumn {
        padding-right: none;

        .selectField {
          max-width: none;
        }
      }
    }
  }
}
