.container {
  margin: 1em;

  button {
    margin: 1em 1em 0 0;
  }

  mat-icon {
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    .formRow {
      .formColumn {
        padding-right: 1em;

        .selectField {
          max-width: 8em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .container {
    .formRow {
      .formColumn {
        padding-right: none;

        .selectField {
          max-width: none;
        }
      }
    }
  }
}
