.dataset-table {
  .settings-button {
    margin-bottom: 0.5em;
  }

  mat-table {
    overflow-x: scroll;

    mat-header-row {
      min-width: 1200px;
    }

    mat-header-cell {
      justify-content: left;
    }

    mat-header-cell:nth-child(-n + 2) {
      justify-content: left;
    }

    mat-header-cell:nth-child(n + 3) {
      justify-content: center;
    }

    mat-cell:nth-child(-n + 2) {
      justify-content: left;
    }

    mat-cell:nth-child(n + 3) {
      justify-content: center;
    }

    mat-row {
      min-width: 1200px;
    }

    mat-row:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .mat-column-standard_select {
      flex: 0 0 40px;
    }

    .mat-column-standard_datasetName {
      flex: 1 0 200px;
    }

    .mat-column-standard_runNumber {
      flex: 0.5 0 60px;
    }

    .mat-column-standard_sourceFolder {
      flex: 0 1 90px;
    }

    .mat-column-standard_size {
      flex: 0.5 0 70px;
    }

    .mat-column-standard_creationTime {
      flex: 0 1 90px;
    }

    .mat-column-standard_type {
      flex: 0.5 0 70px;
    }

    .mat-column-standard_image {
      flex: 0 0 60px;
    }

    .mat-column-standard_metadata {
      flex: 1 1 200px;
    }

    .mat-column-standard_proposalId {
      flex: 0 1 80px;
    }

    .mat-column-standard_ownerGroup {
      flex: 0 1 80px;
    }

    .mat-column-standard_dataStatus {
      flex: 1 1 120px;
    }

    .mat-column-standard_derivedDatasetsNum {
      flex: 0 1 80px;
    }
  }
}
