@import "../../../theme.scss";

.dataset-table {
  .mode-container {
    padding-left: 10px;
    float: left;
  }

  .action-container {
    float: right;
  }

  .action-container.hidden {
    visibility: hidden;
  }

  .raised {
    position: relative;
    float: left;
    transform: translateY(50%);
    margin-left: 10px;
  }

  .mat-column-select {
    overflow: visible; /* Needed to prevent offsetting of the checkbox when clicking */
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 10px;
  }

}

:host /deep/ .disabled-row {
  pointer-events: none;
  opacity: 0.2 !important;
}

:host /deep/ .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

:host /deep/ .mat-paginator {
  background-color: unset !important;
}

.mat-column-datasetName {
  flex: 0 0 200px;
  justify-content: left !important;
}

.mat-column-sourceFolder {
  flex: 0 0 120px;
}

.mat-column-size {
  flex: 0 0 50px;
}

.mat-column-creationTime {
  flex: 0 0 80px;
}

.mat-column-type {
  flex: 0 0 40px;
}

.mat-column-image {
  flex: 0 0 60px;
}

.mat-column-metadata {
  flex: 2 0 100px;
}

.mat-column-proposalId {
  flex: 1 0 70px;
}

.mat-column-ownerGroup {
  flex: 0 0 80px;
}

.mat-column-archiveStatus {
  flex: 1 0 150px;
}

.mat-column-retrieveStatus {
  flex: 1 0 130px;
}


mat-header-cell {
  color: white;
  background: mat-color($primary);
  justify-content: center;
}

mat-header-row {
  color: white;
  background: mat-color($primary);
}

.table_column {
  color: white;
}

i {
  color: white;
}
.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.with-icon {
  display: flex;
  align-items: center;
}


::ng-deep mat-header-cell .mat-checkbox-frame {
  border-color: white;
}
