.dataset-action {
  /* float: right; */
}

/*Columns are dynamically injected, so this /deep/ ensures it is reflected onto the selector  */
:host /deep/ .ds-check {
  width: 25px !important;
}

:host /deep/ .mode-container {
  padding-left: 30px;
  text-align: center ;
}

:host /deep/ .center-align {
  text-align: center;
}

:host /deep/ .left-align {
  width: 100%;
  text-align: left !important;
}


:host /deep/ .buttons {
  display: inline-block;
  /* padding: 50px; */
}

:host /deep/ .ui-selection-column {
  width: 30px !important;
  /* padding: 50px; */
}


:host /deep/ .disabled-row {
    pointer-events: none;
    opacity: 0.2 !important;
}

:host /deep/ table thead tr th p-dtcheckbox {
  visibility:hidden;
}

/*td {
    overflow: hidden;
}*/
