@import '../../../theme.scss';

$ds-archive: mat-palette($mat-green, 600);

/*Columns are dynamically injected, so this /deep/ ensures it is reflected onto the selector  */

.mode-container {
  padding-left: 1em;
  float: left;
}

.action-container {
  float: right;
}

.dataset-count {
  position: relative;
  float: left;
  transform: translateY(50%);
  margin-left: 1em; 
}  

:host /deep/ .disabled-row {
    pointer-events: none;
    opacity: 0.2 !important;
}

:host /deep/ .mat-row:hover {
  background-color: rgba(32, 32, 216, 0.3);
  cursor: pointer;
}

:host /deep/ .datasets-header {
  background-color: mat-color($primary);
}

:host /deep/ .row-archiveable {
  background-color: mat-color($ds-archive, 500, 0.2);
}

:host /deep/ .row-retrievable {
  background-color: mat-color($ds-archive, 500, 0.2);
}

:host /deep/ .row-empty {
  background-color: mat-color($warn, 100, 0.2);
}
