@import '../../../theme.scss';

$ds-archive: mat-palette($mat-green, 600);

/*Columns are dynamically injected, so this /deep/ ensures it is reflected onto the selector  */

.dataset-table .mode-container {
  padding-left: 1em;
  float: left;
}

.dataset-table .action-container {
  float: right;
}

.dataset-table .action-container.hidden {
  visibility: hidden;
}

.dataset-table .raised {
  position: relative;
  float: left;
  transform: translateY(50%);
  margin-left: 1em; 
}  

:host /deep/ .disabled-row {
    pointer-events: none;
    opacity: 0.2 !important;
}

:host /deep/ .mat-row:hover {
  background-color: rgba(32, 32, 216, 0.3);
  cursor: pointer;
}

:host /deep/ .datasets-header {
  background-color: mat-color($primary);
}

:host /deep/ .mat-paginator {
  background-color: unset !important;
}
