.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}
