.mode-container {
  float: left;

  .public-toggle {
    margin-right: 1em;
  }
}

.action-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  .add-batch {
    margin-left: 4px;
  }
}

.action-container.hidden {
  visibility: hidden;
}
