.mode-container {
  float: left;

  .public-toggle {
    margin-right: 1em;
  }
}

.action-container {
  float: right;

  button {
    mat-icon {
      color: black;
    }
  }
}

.action-container.hidden {
  visibility: hidden;
}
