<div class='row'>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <mat-icon>search</mat-icon>
    <input matInput type="search" [(ngModel)]="filterText">
  </mat-form-field>
</div>
<!-- <div>
  <button mat-flat-button type="button" color="accent" (click)="toggleExpand()">
    Expand All
  </button>
</div>


<button mat-flat-button type="button" color="accent" (click)="addNewItem(null)">
  <mat-icon> add_circle </mat-icon>
  Add row
</button>

<button mat-flat-button type="submit" color="primary" (click)="doSave()">
  <mat-icon> save </mat-icon>
  Save changes
</button> -->
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <section *ngIf="node.editing === false">
      <div class="key-cell" [style.padding-left.px]="getPadding(node)">
        <button mat-icon-button disabled></button>
        <label>{{node.key}}</label>
      </div>
      <div class="value-cell">{{node.value}}</div>
      <div class="button-cell">
        <div class="display-flex">
          <button mat-icon-button (click)="setCurrentEditingNode(node)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button class="deleteButton" color="warn"
            title="Delete row" (click)="deleteItem(node)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

      </div>
    </section>

    <div class="container">
      <div *ngIf="node.editing === true">
        <form [formGroup]="metadataForm">
          <div class="formRow" fxLayout="row" fxLayout.lt-lg="column">
            <div class="formColumn">
              <mat-form-field class="selectField">
                <mat-select formControlName="fieldType"
                  (selectionChange)="detectType()">
                  <mat-option *ngFor="let type of typeValues" [value]="type">{{
                    type
                    }}</mat-option>
                </mat-select>
                <mat-error *ngIf="fieldHasError('fieldType')">
                  Type is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="formColumn">
              <mat-form-field class="inputField">
                <input matInput autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false"
                  formControlName="fieldName" placeholder="Name"
                  (blur)="getUnits()" />
                <mat-error *ngIf="fieldHasError('fieldName')">
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="formColumn">
              <mat-form-field class="inputField">
                <input matInput autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false"
                  formControlName="fieldValue" placeholder="Value" step=1
                  [type]="setValueInputType()" />
                <mat-error *ngIf="fieldHasError('fieldValue')">
                  Value is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="formColumn">
              <mat-form-field class="inputField">
                <input matInput autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false"
                  formControlName="fieldUnit" placeholder="Unit"
                  [matAutocomplete]="metadataUnits" (focus)="getUnits()" />
                <mat-autocomplete #metadataUnits="matAutocomplete">
                  <mat-option *ngFor="let unit of filteredUnits$ | async"
                    [value]="unit">
                    {{ unit }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="fieldHasError('fieldUnit')">
                  A unit is required for
                  quantities
                </mat-error>
              </mat-form-field>
            </div>
            <div class="formColumn" fxFlexAlign="end">
              <button mat-icon-button class="deleteButton" color="warn"
                title="Delete row" (click)="deleteItem(node)">
                <mat-icon>cancel</mat-icon>
              </button>

              <button mat-icon-button (click)="editItem(node)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </mat-tree-node>
  <mat-divider></mat-divider>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
    <section>
      <div class='key-cell' [style.padding-left.px]="getPadding(node)">
        <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.key">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ?
            'arrow_drop_down': 'arrow_right'}}
          </mat-icon>
        </button>
        {{node.key}}
      </div>
      <div class="value-cell"></div>
      <div class="button-cell">
        <div class="display-flex">
          <button mat-icon-button (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </mat-tree-node>
</mat-tree>
