<div class='tool-bar'>
  <mat-form-field class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="filterText">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-button-toggle-group>
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" title="Add new row or object on the top level" [disabled]="isEditing()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addNewNode(null);">
        <span>Add new row</span>
      </button>
      <button mat-menu-item (click)="openObjectCreationDialog(null)">
        <span>Add new object</span>
      </button>
    </mat-menu>
    <button mat-icon-button type="button" color="primary" title="Save changes to database" (click)="toggleExpand()" [disabled]="isEditing()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-button type="button" color="primary" title="undo" [disabled]="!historyManager.hasUndo() || isEditing()" (click)="historyManager.undo()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-button type="button" color="primary" title="redo" [disabled]="!historyManager.hasRedo() || isEditing()" (click)="historyManager.redo()">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-button type="button" color="primary" (click)="toggleExpand()" [title]="expand? 'Collapse all': 'Expand all'">
      <mat-icon>{{expand? 'expand_less' : 'expand_more'}}</mat-icon>
    </button>
  </mat-button-toggle-group>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node"
    [style.display]="isVisible(0,node)?'flex':'none' ">
    <section *ngIf="node.editing === false">
      <div class="key-cell" [style.padding-left.px]="getPadding(node)">
        <button mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror" class="mat-icon-rtl-mirror">
          </mat-icon>
        </button>
        <label class="clickable" (click)="enableEditing(node); $event.stopPropagation()">
          {{node.key |replaceUnderscore|titleCase}}
        </label>
      </div>
      <div class="value-cell">{{node.value}} {{node.unit? "[ "+ node.unit + " ]": null}}</div>
      <div class="button-cell">
        <div class="display-flex">
          <button mat-icon-button class="deleteButton" color="warn"
            title="Delete row" (click)="deleteNode(node)" [disabled]="isEditing()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </section>
    <div *ngIf="node.editing === true" style="display: flex; align-items: center;">
      <button mat-icon-button disabled>
        <mat-icon class="mat-icon-rtl-mirror" class="mat-icon-rtl-mirror">
        </mat-icon>
      </button>
      <metadata-input
      [style.padding-left.px]="getPadding(node)"
      style="width: 100%;"
      *ngIf="node.editing === true"
      (save)="onSave($event)"
      (cancel)="onCancel()"
      (changed)="onChange()"
      [data] = "node">
    </metadata-input>
    </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
    [style.display]="isVisible(0,node)?'flex':'none' ">
    <section *ngIf="node.editing === false">
      <div class='key-cell' [style.padding-left.px]="getPadding(node)">
        <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.key">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ?
            'arrow_drop_down': 'arrow_right'}}
          </mat-icon>
        </button>
        <label class="clickable" (click)="enableEditing(node); $event.stopPropagation()">
          {{node.key |replaceUnderscore|titleCase}}
        </label>
      </div>
      <div class="value-cell"></div>
      <div class="button-cell">
        <div class="display-flex">
          <button mat-icon-button [matMenuTriggerFor]="menu" title="Add new row or object" [disabled]="isEditing()">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addNewNode(node);">
              <span>Add new row</span>
            </button>
            <button mat-menu-item (click)="openObjectCreationDialog(node)">
              <span>Add new object</span>
            </button>
          </mat-menu>

          <button mat-icon-button class="deleteButton" color="warn"
            title="Delete row" [disabled]="node.expandable || isEditing()" (click)="deleteNode(node)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </section>
    <div *ngIf="node.editing === true" style="display: flex; align-items: center;">
      <button mat-icon-button matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.key">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ?
          'arrow_drop_down': 'arrow_right'}}
        </mat-icon>
      </button>
      <metadata-input
        [style.padding-left.px]="getPadding(node)"
        (save)="onSave($event)"
        (cancel)="onCancel()"
        (changed)="onChange()"
        [data]="node">
      </metadata-input>
    </div>
</mat-tree-node>
</mat-tree>
