.dates-text {
  cursor: pointer;
}

.datepicker {
  position: relative;
  min-width: 20em;
}

.cal-container {
  position: absolute;
  top: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  display: inline-block;
  font-size: 0.75em;
  min-width: 20em;
  background-color: #fff;
  z-index: 1000;
}























.cal-controls {
  display: flex;
  width: 20em;
}

.cal-controls button {
  background-color: #f9f9f9;
  border-color: transparent;
  display: flex;
  flex-direction: column;
}

.cal-controls button:hover {
  background-color: #f0f0f0;
}

.cal-controls .nav button {
  position: relative;
  padding: 0;
  width: 3.637em;
  height: 3.637em;
  flex-shrink: 0;
  line-height: 1em;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  margin: 0;
}

.cal-controls .nav button.now {
  width: 1.637em;
  height: 1.637em;
  margin: 1em 0;
  vertical-align: middle;
}

.cal-controls .nav button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border: 0 solid currentColor;
  border-top-width: 0.7em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: 50% 50% 0;
}

.cal-controls .nav button.prev::after {
    border-left-width: 0.7em;
    transform: rotate(-45deg) scale(0.3);
}
.cal-controls .nav button.next::after {
    border-right-width: 0.7em;
    transform: rotate(45deg) scale(0.3);
}

.cal-controls .nav button.now::after {
  background-color: currentColor;
  border-radius: 50%;
  transform: scale(0.5);
}



.cal-controls .month-year {
  box-sizing: border-box;
  font-size: 0.9em;
  text-align: left;
  min-width: 7em;
  max-width: 11em;
  height: 100%;
  padding: 0 1em;
  margin: 0 0.5em;
  overflow: hidden;
  border-radius: 1em;
  position: relative;
}
.cal-controls .month-year {
  line-height: 1.5em;
}
.cal-controls .month-year .arrow {
  position: absolute;
  bottom: 1em;
  right: 1em;
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  vertical-align: middle;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
}
.cal-controls .month-year .arrow.down {
  border-top-width: 0.5em;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.54);
}
.cal-controls .month-year .arrow.up {
  border-bottom-width: 0.5em;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.54);
}

.cal-controls .month-year .cal-active-month {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cal-controls .month-year .cal-active-year {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.cal-controls .cal-spacer {
  flex: 1 1 auto;
}










table.cal-dotm {
  border-collapse: separate;
  border: 1px solid black;
  width: 20em;
  height: 16em;
  box-sizing: border-box;
}

table.cal-dotm thead {
  background-color: #f0f0f0;
}

table.cal-dotm thead tr th {
  color: #666;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  font-weight: normal;
}

table.cal-dotm tbody td {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  color: #cfcfcf;
  cursor: pointer;
}

table.cal-dotm tbody td:hover {
  background-color: #f0f0f0;
}

table.cal-dotm tbody td.cal-month {
  border-bottom-color: #f0f0f0;
  color: #333;
}

table.cal-dotm tbody td.today {
  border-bottom-color: #666;
  color: #000;
  font-weight: bold;
}

table.cal-dotm tbody td.selected {
  background-color: #ff6;
}


table.cal-dotm tbody td.selected:hover {
  background-color: #f0f060;
}















table.cal-moty {
  border-collapse: separate;
  border: 1px solid black;
  width: 20em;
  height: 16em;
  box-sizing: border-box;
}

table.cal-moty thead {
  background-color: #f0f0f0;
}

table.cal-moty thead tr th {
  color: #666;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

table.cal-moty tbody td {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  padding: 0;
  width: 2em;
  height: 2em;
  text-align: center;
  cursor: pointer;
}

table.cal-moty tbody td:hover {
  background-color: #f0f0f0;
}

table.cal-moty thead td {
  text-align: center;
}

table.cal-moty tbody td.this-month {
  border-color: #666;
  color: #000;
  font-weight: bold;
}

table.cal-moty tbody td.cal-month {
  border-color: #ccc;
  color: #000;
}

table.cal-moty tbody td.selected {
  background-color: #ff6;
}

table.cal-moty tbody td.selected:hover {
  background-color: #f0f060;
}

table.cal-moty tbody td.partly-selected {
  background-color: #ffc;
}

table.cal-moty tbody td.partly-selected:hover {
  background-color: #f0f0c0;
}
