.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  mat-toolbar {
    height: 3.5rem;

    a {
      height: 2.5rem;
      padding: 0.5rem;

      .logo {
        height: 100%;
        margin-right: 0.5rem;
      }
    }
    .main-menu {
      width: 48px;
      height: 48px;
      line-height: 48px;

      mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        right: 4px;
        bottom: 4px;
      }
    }

    .spacer,
    .title {
      flex: 1 1 auto;
    }

    .title h3 {
      text-align: center;
    }

    button {
      vertical-align: middle;
    }

    .user-button {
      font-size: 0.75rem;
      line-height: 1rem;
      height: auto;
      .user-image {
        height: 2rem;
      }
    }
  }
}

.beta-badge {
  height: 1.25rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  background-color: var(--theme-header-3-default);
}

@media only screen and (max-width: 1279px) {
  .large-screen-text {
    display: none;
  }
}

::ng-deep .custom-menu .mat-mdc-menu-content:not(:empty) {
  padding-top: 1px;
  padding-bottom: 1px;
}
