<div class="header">
  <mat-menu #mainMenu="matMenu">
    <ng-container
      *ngIf="mainMenuConfig$ | async as mainMenuConfig; else noMenuItems"
    >
      <ng-container *ngIf="mainMenuConfig?.datasets ?? false">
        <button mat-menu-item routerLink="/datasets/">
          <mat-icon> folder</mat-icon>
          <span>Datasets</span>
        </button>
      </ng-container>

      <ng-container *ngIf="ingestorEnabled">
        <button
          mat-menu-item
          [routerLink]="['/ingestor']"
          [queryParams]="{ discovery: true }"
        >
          <mat-icon> cloud_upload</mat-icon>
          <span>Ingestor</span>
        </button>
      </ng-container>
      <ng-container *ngIf="mainMenuConfig?.files ?? false">
        <button mat-menu-item routerLink="/files/">
          <mat-icon> text_snippet</mat-icon>
          <span>Files</span>
        </button>
      </ng-container>

      <ng-container *ngIf="mainMenuConfig?.instruments ?? false">
        <button mat-menu-item routerLink="/instruments/">
          <mat-icon>scanner</mat-icon>
          <span>Instruments</span>
        </button>
      </ng-container>

      <ng-container *ngIf="config.jobsEnabled && mainMenuConfig?.jobs">
        <button mat-menu-item routerLink="/user/jobs">
          <mat-icon> transfer_within_a_station</mat-icon>
          <span>Jobs</span>
        </button>
      </ng-container>

      <ng-container *ngIf="config.policiesEnabled && mainMenuConfig?.policies">
        <button mat-menu-item routerLink="/policies/">
          <mat-icon> cloud_download</mat-icon>
          <span>Policies</span>
        </button>
      </ng-container>

      <ng-container *ngIf="mainMenuConfig?.proposals ?? false">
        <button mat-menu-item routerLink="/proposals/">
          <mat-icon> spa</mat-icon>
          <span>Proposals</span>
        </button>
      </ng-container>

      <ng-container *ngIf="mainMenuConfig?.publishedData ?? false">
        <button mat-menu-item routerLink="/publishedDatasets/">
          <mat-icon> chrome_reader_mode</mat-icon>
          <span>Published Data</span>
        </button>
      </ng-container>

      <ng-container *ngIf="mainMenuConfig?.samples ?? false">
        <button mat-menu-item routerLink="/samples/">
          <mat-icon> center_focus_weak</mat-icon>
          <span>Samples</span>
        </button>
      </ng-container>
    </ng-container>
    <ng-template #noMenuItems>
      <ng-container>
        <button mat-menu-item>
          <mat-icon>block</mat-icon>
          <span>No Menu Items</span>
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/user/" data-cy="setting-button">
      <mat-icon> settings</mat-icon>
      <span>Settings</span>
    </button>

    <button mat-menu-item (click)="logout()" data-cy="logout-button">
      <mat-icon> exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <mat-toolbar class="mat-elevation-z1" color="primary">
    <div class="main-menu" [matMenuTriggerFor]="mainMenu">
      <mat-icon [inline]="true">menu</mat-icon>
    </div>
    <a [routerLink]="[defaultMainPage$ | async]">
      <img class="logo" src="../../../assets/images/{{ siteSciCatLogo }}" />
    </a>
    <ng-container
      *ngIf="
        isSiteHeaderLogoUrlExternal$ | async;
        else siteHeaderLogoUrlInternal
      "
    >
      <a [href]="siteHeaderLogoUrl$ | async">
        <img class="logo" src="../../../assets/images/{{ siteHeaderLogo }}" />
      </a>
    </ng-container>
    <ng-template #siteHeaderLogoUrlInternal>
      <a [routerLink]="[siteHeaderLogoUrl$ | async]">
        <img class="logo" src="../../../assets/images/{{ siteHeaderLogo }}" />
      </a>
    </ng-template>
    <span class="title">
      <h3>{{ siteTitle }}</h3>
    </span>
    <span>
      <h6>
        <a class="toplink" [routerLink]="['/help']">
          <mat-icon> help </mat-icon>
          <span class="large-screen-text">Help</span></a
        >
      </h6>
    </span>
    <span>
      <h6>
        <a class="toplink" [routerLink]="['/about']">
          <mat-icon> info </mat-icon>
          <span class="large-screen-text">About</span></a
        >
      </h6>
    </span>
    <!--<span *ngIf="(this.isLoggedIn | async) === false; else userButton">-->
    <span *ngIf="isLoggedIn$ | async; else loginButton">
      <span *ngIf="config.shoppingCartOnHeader" [matMenuTriggerFor]="cartMenu">
        <button id="cartOnHeaderButton" mat-icon-button>
          <mat-icon
            color="primary"
            matBadge="{{ inBatchIndicator$ | async }}"
            matBadgeColor="accent"
            matBadgeSize="medium"
            >filter_none</mat-icon
          >
        </button>
      </span>

      <mat-menu class="custom-menu" #cartMenu="matMenu">
        <batch-card></batch-card>
      </mat-menu>

      <span>
        <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
          <img class="user-image" src="{{ profileImage$ | async }}" />
          <div color="primary" class="large-screen-text">
            {{ username$ | async }}
          </div>
        </button>
      </span>
    </span>
    <ng-template #loginButton>
      <h6>
        <a class="toplink" (click)="login()" data-cy="login-button">
          <mat-icon> account_circle </mat-icon>
          <span class="large-screen-text">Sign in</span>
        </a>
      </h6>
    </ng-template>
  </mat-toolbar>
</div>
