<div class="header">
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/datasets/">
      <mat-icon> folder </mat-icon>
      <span>Datasets</span>
    </button>

    <button mat-menu-item routerLink="/user/jobs">
      <mat-icon> transfer_within_a_station </mat-icon>
      <span>Jobs</span>
    </button>

    <button mat-menu-item routerLink="/logbooks/">
      <mat-icon> book </mat-icon>
      <span>Logbooks</span>
    </button>

    <button mat-menu-item routerLink="/policies/">
      <mat-icon> cloud_download </mat-icon>
      <span>Policies</span>
    </button>

    <button mat-menu-item routerLink="/proposals/">
      <mat-icon> spa </mat-icon>
      <span>Proposals</span>
    </button>

    <button mat-menu-item routerLink="/publishedDatasets/">
      <mat-icon> chrome_reader_mode </mat-icon>
      <span>Published Data</span>
    </button>

    <button mat-menu-item routerLink="/samples/">
      <mat-icon> center_focus_weak </mat-icon>
      <span>Samples</span>
    </button>

    <button mat-menu-item routerLink="/user/">
      <mat-icon> settings </mat-icon>
      <span>Settings</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon> exit_to_app </mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <mat-toolbar class="mat-elevation-z1" color="primary">
    <a [routerLink]="['/']">
      <img class="logo" src="../../../assets/images/scicat-logo-white.png" />
    </a>
    <a [routerLink]="['/']">
      <ng-template [ngIf]="facility === 'ESS'" [ngIfElse]="otherFacility">
        <img class="logo" src="../../../assets/images/esslogo-white.png" />
      </ng-template>
      <ng-template #otherFacility>
        <img class="logo" src="../../../assets/images/esslogo.png" />
      </ng-template>
    </a>
    <a class="toplink" [routerLink]="['/']">
      <h3>{{ status }}</h3>
    </a>

    <span class="spacer"></span>

    <span>
      <h6>
        <a class="toplink" [routerLink]="['/help']">
          <mat-icon> help </mat-icon>
          <span class="large-screen-text">Help</span></a
        >
      </h6>
    </span>
    <span>
      <h6>
        <a class="toplink" [routerLink]="['/about']">
          <mat-icon> info </mat-icon>
          <span class="large-screen-text">About</span></a
        >
      </h6>
    </span>
    <span>
      <button class="user-button" [matMenuTriggerFor]="userMenu">
        <img class="user-image" src="{{ profileImage }}" />
        <div class="large-screen-text">{{ username }}</div>
      </button>
    </span>
  </mat-toolbar>
</div>
