mat-card {
  margin: 1em;
  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    padding: 8px 16px 8px;
  }
}

.button-container {
  display: flex;       
  align-items: flex-start; 
  gap: 20px; 
  margin-top: 16px;

  .button-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.submitDep {
  width: 300px;  
  flex-direction: column;
  background-color: #B3D9AC;
  color:black;
}