@use "@angular/material" as mat;
@use "sass:map";

@mixin color($theme) {
  $color-config: map.get($theme, "color");
  $hover: map.get($color-config, "hover");

  .close-button {
    color: mat.m2-get-color-from-palette($hover, "default");
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
