@use '~@angular/material' as mat;
@import "../../../theme.scss";

.title {
  float: left;
  transform: translateY(25%);
}

.close-button {
  float: right;
  color: mat.get-color-from-palette($grey, 500);
}
