<!-- shared-filter.component.html -->
<form [formGroup]="filterForm">
  <ng-container [ngSwitch]="filterType">
    <ng-container *ngSwitchDefault>
      <mat-form-field [id]="key">
        <mat-label>{{ label }}</mat-label>
        <input
          matInput
          #input
          type="text"
          (input)="onInput($event)"
          [matTooltip]="tooltip"
          matTooltipPosition="after"
          formControlName="textField"
        />
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'dateRange'">
      <mat-form-field
        [matTooltip]="tooltip"
        matTooltipPosition="after"
        [id]="key"
      >
        <mat-label>{{ label }}</mat-label>
        <mat-date-range-input
          formGroupName="dateRangeField"
          [rangePicker]="picker"
        >
          <input
            matStartDate
            (dateChange)="dateChanged($event, 'begin')"
            formControlName="start"
          />
          <input
            matEndDate
            (dateChange)="dateChanged($event, 'end')"
            formControlName="end"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <ng-container *ngIf="checkboxFacetCounts?.length > 0">
        <div class="filter-group">
          <mat-label class="filter-title">{{
            label | translate: localization
          }}</mat-label>
          <mat-form-field
            appearance="outline"
            class="facet-search"
            floatLabel="always"
          >
            <mat-label>Type to filter</mat-label>
            <input
              matInput
              type="search"
              formControlName="textField"
              placeholder="{{ placeholder }}"
            />
          </mat-form-field>
          <div class="checkbox-list">
            <mat-checkbox
              *ngFor="let field of visibleFacetCounts; trackBy: trackById"
              [checked]="
                filterForm.get('selectedIds')!.value?.includes(field._id)
              "
              (change)="onToggleCheckbox(field._id, $event.checked)"
            >
              {{ field.label ?? field._id }} ({{ field.count }})
            </mat-checkbox>
          </div>
          <div class="show-more-btn" *ngIf="hasMore">
            <button mat-button (click)="onShowMore()">Show more...</button>
          </div>
        </div>
        <mat-divider />
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'multiSelect'">
      <multiselect-filter
        [key]="key"
        [label]="label"
        [tooltip]="tooltip"
        (selectionChange)="onSelectionChange($event)"
        [facetCounts$]="facetCounts$"
        [currentFilter$]="currentFilter$"
      ></multiselect-filter>
    </ng-container>
    <ng-container *ngSwitchCase="'number'">
      <ngx-numeric-range-form-field
        formControlName="numberRange"
        [label]="label"
        [key]="key"
        (numericRangeChanged)="onNumericRangeChange($event)"
      ></ngx-numeric-range-form-field>
    </ng-container>
  </ng-container>
</form>
