@use "@angular/material" as mat;

::ng-deep .facet-search {
  /** ideally, this should be applied in the root
  we leave it here for now until we replace dataset side filter with shared filter */
  @include mat.form-field-density(-5);
}

.mat-mdc-form-field {
  width: 100%;
}

.chip-item {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-title {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1em;
  color: rgba($color: #000000, $alpha: 0.7);
}

.checkbox-list {
  display: flex;
  flex-direction: column;

  .mat-mdc-checkbox {
    --mdc-checkbox-state-layer-size: 1.8em;
  }
}

.show-more-btn {
  display: flex;
  justify-content: center;

  .mat-mdc-button {
    font-size: 12px;
    color: var(--theme-primary-default);
  }
}

.empty-text {
  font-size: 0.765em;
  color: rgba($color: #000000, $alpha: 0.5);
  text-align: center;
}

mat-divider {
  margin: 0.4em 0;
  opacity: 0.4;
}
