@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $header-1: map.get($color-config, "header-1");
  $hover: map.get($color-config, "hover");

  mat-card {
    .lifecycle-header {
      background-color: mat.get-color-from-palette($primary, "lighter");
    }

    .history-header {
      background-color: mat.get-color-from-palette($header-1, "lighter");
    }

    .history-table {
      tr.item-row:not(.expanded-row):hover {
        background: mat.get-color-from-palette($hover, "lighter");
      }

      tr.item-row:not(.expanded-row):active {
        background: mat.get-color-from-palette($primary, "default-contrast");
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
