<button
  class="clear"
  type="button"
  mat-icon-button
  #menuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="menu"
  [dir]="reverseDirection"
>
  <mat-icon class="main-menu">more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false" [dir]="reverseDirection">
  <button
    mat-menu-item
    type="button"
    *ngIf="tableSetting?.visibleActionMenu?.fullscreen !== false"
    (click)="screenMode_onClick()"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <mat-icon>fullscreen</mat-icon>
    <span>Fullscreen</span>
  </button>
  <button
    mat-menu-item
    type="button"
    color="primary"
    [matMenuTriggerFor]="convertMenu"
    *ngIf="isSaveDataActive"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <mat-icon>save</mat-icon>
    <span>Save data</span>
  </button>
  <button
    mat-menu-item
    type="button"
    color="primary"
    [matMenuTriggerFor]="columnMenu"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <mat-icon>view_column</mat-icon>
    <span>Column setting</span>
  </button>

  <button
    mat-menu-item
    type="button"
    (click)="resetDefaultSimple_onClick($event)"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <mat-icon>settings_backup_restore</mat-icon>
    Default setting
  </button>
</mat-menu>

<!-- Convert Sub Menu -->

<mat-menu #convertMenu="matMenu">
  <button
    mat-menu-item
    type="button"
    *ngIf="tableSetting?.visibleActionMenu?.json !== false"
    (click)="download_onClick('JSON')"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <span>Json file</span>
  </button>
  <button
    mat-menu-item
    type="button"
    *ngIf="tableSetting?.visibleActionMenu?.csv !== false"
    (click)="download_onClick('CSV')"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <span>CSV file</span>
  </button>
  <button
    mat-menu-item
    type="button"
    *ngIf="tableSetting?.visibleActionMenu?.print !== false"
    (click)="print_onClick(menuTrigger)"
    [class.ltr-menu]="currentTableSetting.direction !== 'rtl'"
  >
    <span>Print table</span>
  </button>
</mat-menu>

<!-- Column Setting Sub Menu -->

<mat-menu #columnMenu="matMenu">
  <ng-container
    *ngIf="currentTableSetting?.columnSetting?.length > 0; else noColumns"
  >
    <div
      class="va-mat-table-dragable-container"
      cdkDropList
      dkDropListLockAxis="y"
      cdkDropListOrientation="vertical"
      dir="ltr"
    >
      <div
        *ngFor="let column of currentTableSetting?.columnSetting; let i = index"
        (click)="$event.stopPropagation(); $event.preventDefault()"
        class="dragable-row"
        cdkDrag
        [cdkDragData]="{
          columnIndex: i,
          columnTitle: column.header || column.name | translate: localization,
        }"
        (cdkDragDropped)="columnMenuDropped($event)"
      >
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
        <mat-checkbox
          class="column-config"
          [disabled]="column?.display === 'prevent-hidden'"
          [checked]="
            column?.display === 'visible' ||
            column?.display === 'prevent-hidden'
          "
          (click)="$event.stopPropagation()"
          (change)="toggleSelectedColumn(column)"
        >
          {{ column.header || column.name | translate: localization }}
        </mat-checkbox>
        <mat-icon
          class="column-setting-button"
          (click)="setting_onClick(i)"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="columnSettingMenu"
          *ngIf="currentTableSetting.showColumnSettingMenu"
          >settings</mat-icon
        >
        <div class="va-mat-table-drag-preview" *cdkDragPreview>
          <mat-icon>drag_indicator</mat-icon>
          <mat-checkbox [checked]="column?.display === 'visible'">
            {{ column.header || column.name | translate: localization }}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="column-config-apply">
      <button
        mat-menu-item
        type="button"
        color="primary"
        class="done-setting"
        (click)="apply_onClick($event)"
      >
        <mat-icon color="primary">done</mat-icon>
      </button>
      <button
        mat-menu-item
        type="button"
        color="primary"
        class="done-setting"
        (click)="cancel_onClick()"
      >
        <mat-icon color="primary">clear</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #noColumns>
    <div mat-menu-item>No column</div>
  </ng-template>
</mat-menu>

<mat-menu
  #columnSettingMenu="matMenu"
  [overlapTrigger]="false"
  style="padding: 10px !important"
>
  <div
    *ngIf="currentColumn !== null"
    (click)="$event.stopPropagation(); $event.preventDefault()"
    class="column-setting"
  >
    <ng-container
      *ngIf="
        isVisible(currentTableSetting?.visibleActionMenu?.columnSettingFilter)
      "
    >
      <div class="column-setting-header column-setting-header-first">
        <mat-icon color="primary">filter_alt</mat-icon>Filter mode
      </div>
      <mat-radio-group
        class="radio"
        [(ngModel)]="currentTableSetting.columnSetting[currentColumn].filter"
      >
        <mat-radio-button value="client-side" (click)="$event.stopPropagation()"
          >Filter local mode</mat-radio-button
        >
        <mat-radio-button value="server-side" (click)="$event.stopPropagation()"
          >Filter server mode</mat-radio-button
        >
      </mat-radio-group>
    </ng-container>

    <ng-container
      *ngIf="
        isVisible(currentTableSetting?.visibleActionMenu?.columnSettingSort)
      "
    >
      <div class="column-setting-header">
        <mat-icon color="primary">sort</mat-icon>Sort mode
      </div>
      <mat-radio-group
        class="radio"
        [(ngModel)]="currentTableSetting.columnSetting[currentColumn].sort"
      >
        <mat-radio-button value="client-side" (click)="$event.stopPropagation()"
          >Sort local mode</mat-radio-button
        >
        <mat-radio-button value="server-side" (click)="$event.stopPropagation()"
          >Sort server mode</mat-radio-button
        >
      </mat-radio-group>
    </ng-container>

    <ng-container
      *ngIf="
        isVisible(currentTableSetting?.visibleActionMenu?.columnSettingFilter)
      "
    >
      <div class="column-setting-header">
        <mat-icon color="primary">print</mat-icon>Print mode
      </div>
      <mat-radio-group
        class="radio"
        [(ngModel)]="currentTableSetting.columnSetting[currentColumn].printable"
      >
        <mat-radio-button [value]="true" (click)="$event.stopPropagation()"
          >Print yes mode
        </mat-radio-button>
        <mat-radio-button [value]="false" (click)="$event.stopPropagation()"
          >Print no mode
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>

    <ng-container
      *ngIf="
        isVisible(currentTableSetting?.visibleActionMenu?.columnSettingPin)
      "
    >
      <div class="column-setting-header">
        <mat-icon color="primary">push_pin</mat-icon>Pin mode
      </div>
      <mat-radio-group
        class="radio"
        [(ngModel)]="currentTableSetting.columnSetting[currentColumn].sticky"
      >
        <mat-radio-button value="none" (click)="$event.stopPropagation()"
          >Pin none mode
        </mat-radio-button>
        <mat-radio-button value="start" (click)="$event.stopPropagation()"
          >Pin start mode
        </mat-radio-button>
        <mat-radio-button value="end" (click)="$event.stopPropagation()"
          >Pin end mode
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>
</mat-menu>
