mat-card {
  box-sizing: border-box;
  width: 100%;
  box-shadow: var(--theme-side-panel-shadow);
  border: var(--theme-side-panel-border, 1px solid rgba(153, 213, 233, 0.7));
  border-radius: 4px;
  &.side-gap {
    margin-right: 0.5rem;
  }

  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;

    .proposal-filters-search-button {
      flex: 0 0 auto;
      width: 100%;
      margin-left: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .proposal-filters-clear-all-button {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .section-container:first-child {
    margin-top: unset;
  }

  .section-container:last-child {
    flex-direction: column;
    gap: 0.35rem;
  }
}

.small-btn {
  position: absolute;
  z-index: 10;
  background: none;
  top: 12px;
  left: 12px;
  scale: 0.9;
  background: rgba($color: #000000, $alpha: 0.05);
}
