mat-card {
  margin-top: 0.5rem;

  &.side-gap {
    margin-right: 0.5rem;
  }

  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;

    .proposal-filters-search-button {
      width: 49%;
    }

    .proposal-filters-clear-all-button {
      width: 49%;
      margin-left: 1%;
    }
  }

  .section-container:first-child {
    margin-top: unset;
  }
}

.small-btn {
  position: absolute;
  z-index: 10;
  background: none;
  top: 1.125rem;
  left: 0.625rem;
  scale: 0.9;
  background: rgba($color: #000000, $alpha: 0.05);
}
