mat-card {
  margin-top: 0.5rem;

  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;

    .proposal-filters-search-button {
      width: 49%;
    }

    .proposal-filters-clear-all-button {
      width: 49%;
      margin-left: 1%;
    }
  }

  .section-container:first-child {
    margin-top: unset;
  }
}

.small-btn {
  padding: 2px;

  width: 24px;
  height: 24px;

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
