@use "@angular/material" as mat;
@use "sass:map";

@mixin color($theme) {
  $color-config: map.get($theme, "color");
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  mat-card {
    .action-header {
      background-color: mat.m2-get-color-from-palette($primary, "lighter");
    }

    .derived-header {
      background-color: mat.m2-get-color-from-palette($accent, "lighter");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
