@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");

  mat-card {
    .action-header {
      background-color: mat.get-color-from-palette($primary, "lighter");
    }

    .derived-header {
      background-color: mat.get-color-from-palette($accent, "lighter");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
