@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: map.get($theme, "color");
  $primary: map.get($color-config, "primary");
  $header-1: map.get($color-config, "header-1");
  $accent: map.get($color-config, "accent");
  $header-2: map.get($color-config, "header-2");
  $header-3: map.get($color-config, "header-3");
  $header-4: map.get($color-config, "header-4");
  mat-card {
    .general-header {
      background-color: mat.m2-get-color-from-palette($primary, "lighter");
    }

    .creator-header {
      background-color: mat.m2-get-color-from-palette($header-1, "lighter");
    }

    .file-header {
      background-color: mat.m2-get-color-from-palette($accent, "lighter");
    }

    .related-header {
      background-color: mat.m2-get-color-from-palette($header-2, "lighter");
    }

    .derived-header {
      background-color: mat.m2-get-color-from-palette($header-3, "lighter");
    }

    .scientific-header {
      background-color: mat.m2-get-color-from-palette($header-4, "lighter");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
