mat-card {
  margin: 1em;

  .scientific-header,
  .related-header,
  .creator-header,
  .file-header,
  .general-header {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  .section-icon {
    height: auto !important;
    width: auto !important;
    margin-right: 4px;
    order: -1;
    display: flex;
    align-self: center;

    mat-icon {
      vertical-align: middle;
    }
  }
  .section-title {
    font-size: small;
    font-weight: bold;
    line-height: 1;
  }

  .caption-text {
    word-break: break-all;
  }

  table {
    th {
      min-width: 10rem;
      padding-right: 0.5rem;
      text-align: left;
    }

    td {
      width: 100%;
      padding: 0.5rem 0;

      .sample-edit {
        padding-left: 0.5rem;

        mat-icon {
          font-size: medium;
        }
      }

      .sample-edit:hover {
        cursor: pointer;
      }
    }

    .full-width {
      width: 100%;
    }

    .keywords-row {
      .add-keyword-chip:hover {
        cursor: pointer;
      }
    }
  }
}
.attachment-card {
  display: flex;
  align-items: center;
}
.thumbnail-image {
  cursor: pointer;
  max-width: 14em;
  width: 100%;
  height: auto;
}
.json-view-overflow {
  flex: 0 0 auto;
  max-width: 80vw;
  overflow: auto;
}

.keyword-input {
  padding-left: 10px;
}
