@use "@angular/material" as mat;
@use "sass:map";

@mixin color($theme) {
  $color-config: map.get($theme, "color");
  $primary: map.get($color-config, "primary");
  mat-table {
    mat-header-row {
      background: mat.m2-get-color-from-palette($primary, "default");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
