@import "../../../theme.scss";

mat-table {
  mat-header-row {
    background: mat-color($primary);
  }

  mat-header-cell {
    color: mat-color($primary, default-contrast);
  }

  mat-header-cell:first-child {
    min-width: 75px;
    max-width: 75px;
  }

  mat-cell:first-child {
    min-width: 75px;
    max-width: 75px;
  }
}

.empty-batch-message {
  text-align: center;

  mat-icon {
    vertical-align: middle;
  }
}
