@use "@angular/material" as mat;
mat-card {
  box-shadow: var(--theme-side-panel-shadow);
  border: var(--theme-side-panel-border, 1px solid rgba(153, 213, 233, 0.7));
  border-radius: 4px;
  .mat-mdc-form-field {
    width: 100%;
  }

  .filter-container {
    display: flex;
    align-items: center;

    :first-child {
      flex-grow: 1;
    }
  }

  .section-container {
    font-size: 1.25rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;

    .title {
      float: left;
    }

    .clear-button {
      margin-left: auto;
    }

    .full-width-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;

      mat-icon {
        margin-right: 8px;
      }
    }

    .scientific-chips {
      ::ng-deep .mat-mdc-chip-list-wrapper {
        margin: 0;
      }
    }

    .scientific-chip {
      height: auto;
    }

    .scientific-chip-text {
      white-space: normal;
      word-break: break-all;
    }

    .datasets-filters-search-button {
      width: 49%;
      margin-left: 2%;
    }

    .datasets-filters-clear-all-button {
      width: 49%;
    }
  }

  .filters-header {
    padding-top: 0.1rem;
    margin-top: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .settings-button {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  .conditions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .condition-button {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

.condition-title-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  .condition-field-name {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;

    .cell-icon {
      color: var(--theme-primary-default);
      flex-shrink: 0; /* prevent icon from being hidden */
      font-size: 19px;
      transform: translateY(4px);
    }
    .field-name-wrapper {
      display: flex;
      flex-direction: column;
      min-width: 0;
      flex: 1;

      .primary-name {
        font-size: 1rem;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .secondary-name {
        font-size: 0.875rem;
        font-style: italic;
        margin-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .condition-description {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);

    .condition-chip {
      display: block;
      font-size: 0.85rem;
      font-weight: 500;
      padding: 2px 8px;
      background: transparent;
      border: 1px solid var(--theme-primary-default);
      color: var(--theme-primary-default);
      border-radius: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.mat-accordion .mat-expansion-panel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.condition-panel {
  &.disabled {
    background-color: #f5f5f5;
    opacity: 0.7;
  }
  .mat-expansion-panel-header {
    height: auto !important;
    padding: 0.5rem !important;
    align-items: flex-start !important;

    .mat-expansion-panel-header-title {
      white-space: normal !important;
      overflow: visible !important;
      flex: 1;
      min-width: 0;
    }
    .mat-expansion-panel-header-description {
      display: none !important;
    }
  }

  .condition-details {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .condition-actions-section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
      .condition-toggle {
        margin: 0;
      }

      .condition-remove {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        color: #d32f2f;
        font-size: 1rem;
        line-height: 1;

        mat-icon {
          margin-right: 4px;
        }

        &:hover {
          background-color: #ffebee;
          color: #b71c1c;
        }
      }
    }

    .condition-fields {
      margin-left: -20px;
      width: calc(100% + 40px);

      @include mat.form-field-density(-5);
    }

    .operator-symbol {
      color: gray;
      margin-left: 8px;
      font-size: 1.1em;
      vertical-align: middle;
    }
  }
}

.hover-card {
  min-width: 300px;
  max-width: 620px;
}

.hover-card-title {
  padding: 0 16px;
  font-size: 14px;
  border-radius: 4px 4px 0 0;
  color: white;
  background: var(--theme-header-1-lighter);
}

.hover-card-content {
  padding: 10px 16px;
  background: white;
  color: var(--theme-header-1-lighter-contrast);
  border-radius: 0 0 4px 4px;
  white-space: pre-line;
  word-wrap: break-word;
}
