
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin-top: 0.5rem;

  .mat-mdc-form-field {
    width: 100%;
  }

  .section-container {
    font-size: 1.25rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;

    .title {
      float: left;
    }

    .clear-button {
      float: right;
      transform: translateY(-25%);
    }

    .scientific-chips {
      /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
      ::ng-deep .mat-chip-list-wrapper {
        margin: 0;
      }
    }
  }

  .section-container:first-child {
    margin-top: unset;
  }
}
