<ng-container *ngIf="vm$ | async as vm">
  <div fxLayout="row" fxLayout.lt-lg="column">
    <div fxFlex="14" fxFlex.lt-xl="20">
      <ng-template [ngIf]="appConfig.addSampleEnabled">
        <button
          mat-stroked-button
          class="small-edit-sample"
          (click)="openDialog()"
        >
          <mat-icon>add_circle</mat-icon> Create Sample
        </button>
      </ng-template>
      <ng-template [ngIf]="appConfig.searchSamples">
        <mat-card class="big-search">
          <mat-card-header>
            <mat-card-title>Search</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-search-bar
              [prefilledValue]="vm.textFilter"
              (search)="onTextSearchChange($event)"
            ></app-search-bar>
            <div *ngIf="appConfig.scienceSearchEnabled">
              <button
                mat-button
                color="primary"
                (click)="openSearchParametersDialog()"
              >
                <mat-icon>add</mat-icon> Add Characteristic
              </button>

              <mat-chip-listbox
                class="characteristic-chips"
                aria-orientation="vertical"
              >
                <mat-chip-option
                  *ngFor="
                    let characteristic of vm.characteristicsFilter;
                    index as i
                  "
                >
                  {{ characteristic.lhs }}
                  <ng-container [ngSwitch]="characteristic.relation">
                    <ng-container *ngSwitchCase="'EQUAL_TO_NUMERIC'">
                      &nbsp;=&nbsp;
                    </ng-container>
                    <ng-container *ngSwitchCase="'EQUAL_TO_STRING'">
                      &nbsp;=&nbsp;
                    </ng-container>
                    <ng-container *ngSwitchCase="'LESS_THAN'">
                      &nbsp;&lt;&nbsp;
                    </ng-container>
                    <ng-container *ngSwitchCase="'GREATER_THAN'">
                      &nbsp;&gt;&nbsp;
                    </ng-container>
                  </ng-container>
                  {{
                    characteristic.relation === "EQUAL_TO_STRING"
                      ? '"' + characteristic.rhs + '"'
                      : characteristic.rhs
                  }}
                  {{ characteristic.unit | prettyUnit }}
                  <mat-icon matChipRemove (click)="removeCharacteristic(i)">
                    cancel
                  </mat-icon>
                </mat-chip-option>
              </mat-chip-listbox>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="small-search" fxFlexOrder="2">
          <app-search-bar
            [prefilledValue]="vm.textFilter"
            (search)="onTextSearchChange($event)"
            (searchBarFocus)="onTextSearchChange($event)"
          ></app-search-bar>
        </div>
      </ng-template>
      <ng-template [ngIf]="appConfig.addSampleEnabled">
        <mat-card class="big-edit-sample" (click)="openDialog()">
          <mat-card-content>
            <mat-icon>add_circle</mat-icon> Create Sample
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
    <div fxFlex="63" fxFlex.lt-xl="80">
      <dynamic-mat-table
        [tableName]="tableName"
        [columns]="columns"
        [pending]="pending"
        [setting]="setting"
        [pagingMode]="paginationMode"
        [dataSource]="dataSource"
        [pagination]="pagination"
        [rowSelectionMode]="rowSelectionMode"
        [showGlobalTextSearch]="showGlobalTextSearch"
        (paginationChange)="onPaginationChange($event)"
        (onRowEvent)="onRowClick($event)"
        (settingChange)="onSettingChange($event)"
        (onTableEvent)="onTableEvent($event)"
        style="height: 70vh"
        class="mat-elevation-z2"
      >
      </dynamic-mat-table>
    </div>
  </div>
</ng-container>
