<h1 mat-dialog-title>Sample Entry</h1>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput
                placeholder="Sample Description"
               formControlName="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Sample Characteristics"
               formControlName="sampleCharacteristics">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Owner"
               formControlName="owner">
    </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="save()">Save</button>
</div>
