@use "@angular/material" as mat;
@use "sass:map";

@mixin color($theme) {
  $color-config: map.get($theme, "color");
  $warn: map.get($color-config, "warn");
  $header-3: map.get($color-config, "header-3");

  .jupyter-button {
    background-color: mat.m2-get-color-from-palette($header-3, "default");
    color: mat.m2-get-color-from-palette($header-3, "default-contrast");
  }
  mat-card {
    .reset-button {
      background-color: mat.m2-get-color-from-palette(
        $warn,
        "default"
      ) !important;
      color: mat.m2-get-color-from-palette(
        $warn,
        "default-contrast"
      ) !important;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
