:host {
	display: flex;
	align-items: center;

	.spacer {
		padding: 0 10px 0 0;
		cursor: context-menu;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input:read-only {
		color: rgba($color: #000000, $alpha: 0.5);
		cursor: initial;
	}
}
