<ng-container *ngIf="vm$ | async as vm">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <ng-container> Readable </ng-container>
      </ng-template>

      <ng-container *ngIf="vm.policies">
        <div fxLayout="row">
          <div fxFlex="1"></div>
          <div fxFlex="98">
            <app-table
              class="readable"
              [data]="vm.policies"
              [columns]="tableColumns"
              [paginate]="paginate"
              [currentPage]="vm.currentPage"
              [dataCount]="vm.policyCount"
              [dataPerPage]="vm.policiesPerPage"
              (pageChange)="onPoliciesPageChange($event)"
              (sortChange)="onPoliciesSortChange($event)"
            ></app-table>
          </div>
          <div fxFlex="1"></div>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Editable </ng-template>

      <div fxLayout="column" fxLayoutGap="row" fxLayoutAlign="end end">
        <ng-template [ngIf]="editEnabled">
          <button
            mat-button
            [disabled]="vm.selectedPolicies.length === 0"
            (click)="openDialog(vm.selectedPolicies)"
            color="primary"
            data-cy="editSelection"
          >
            <mat-icon>edit</mat-icon> Edit Selection
          </button>
        </ng-template>
      </div>

      <ng-container *ngIf="vm.editablePolicies">
        <div fxLayout="row">
          <div fxFlex="1"></div>
          <div fxFlex="98">
            <app-table
              class="editable"
              [data]="vm.editablePolicies"
              [columns]="tableColumns"
              [select]="editEnabled"
              [paginate]="paginate"
              [currentPage]="vm.currentEditablePage"
              [dataCount]="vm.editableCount"
              [dataPerPage]="vm.editablePoliciesPerPage"
              (pageChange)="onEditablePoliciesPageChange($event)"
              (sortChange)="onEditablePoliciesSortChange($event)"
              (selectAll)="onSelectAll($event)"
              (selectOne)="onSelectOne($event)"
            ></app-table>
          </div>
          <div fxFlex="1"></div>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>
