.metadataTable {
  .mat-column-name {
    flex: 1 0 7em;
  }

  .mat-column-value {
    flex: 2 0 7em;
  }

  .mat-column-unit {
    flex: 1 0 5em;
  }
}

.unit-input {
  display: flex;
  align-items: center;

  &--warning {
    cursor: pointer;
    margin-left: 0.5em;
    color: rgba(130, 4, 4, 0.6);
  }
}

@media only screen and (max-width: 1279px) {
  .metadataTable {
    .mat-column-unit {
      justify-content: right !important;
    }
  }
}
