<div class="metadataTable" *ngIf="metadata">
  <mat-table class="metadataTable" [dataSource]="tableData">
    <!-- Column Definitions -->

    <!-- Name Column -->
    <ng-container matColumnDef="name" style="align-content: center">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let metadata">
        {{ metadata.name | replaceUnderscore | titlecase }}
      </mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value" style="align-content: center">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let metadata">
        {{ metadata.value }}
      </mat-cell>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit" style="align-content: center">
      <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
      <mat-cell *matCellDef="let metadata">
        <ng-template [ngIf]="metadata.unit.length > 0" [ngIfElse]="noUnit">
          <span
            [class.invalid-unit]="!metadata.validUnit"
            [matTooltip]="
              !metadata.validUnit
                ? ' Unrecognized unit, conversion disabled
              '
                : ''
            "
          >
            {{ metadata.unit | prettyUnit }}
          </span>
        </ng-template>
        <ng-template #noUnit> -- </ng-template>
      </mat-cell>
    </ng-container>

    <!-- End of Column Definitions -->

    <mat-header-row *matHeaderRowDef="columnsToDisplay"> </mat-header-row>

    <mat-row *matRowDef="let metadata; columns: columnsToDisplay"> </mat-row>
  </mat-table>
</div>
