<div class="metadataTable" *ngIf="metadata">
  <dynamic-mat-table
    [tableName]="tableName"
    [showReload]="showReloadData"
    [dir]="direction"
    [rowHeight]="rowHeight"
    [columns]="columns"
    [pending]="pending"
    [setting]="setting"
    [sticky]="stickyHeader"
    [dataSource]="dataSource"
    [pagination]="pagination"
    [showNoData]="showNoData"
    [rowSelectionMode]="rowSelectionMode"
    [printConfig]="printConfig"
    [showProgress]="showProgress"
    [showGlobalTextSearch]="showGlobalTextSearch"
    style="height: 60vh"
  >
  </dynamic-mat-table>
</div>
