@import "../../../../theme.scss";

@media only screen and (min-width: 1280px) {
  mat-table {
    mat-header-row {
      color: white;
      background: mat-color($primary);
    }

    .table_column {
      color: white;
      justify-content: center;
    }

    mat-sort-header-button {
      color: white;
    }

    i {
      color: white;
    }

    .mat-column-proposalId {
      justify-content: left !important;
    }

    .mat-column-title {
      justify-content: left !important;
    }

    .mat-column-author {
      justify-content: center !important;
    }

    .mat-column-start {
      justify-content: center !important;
    }

    .mat-column-end {
      justify-content: center !important;
    }
  }

  :host /deep/ .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .smallProposals {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .largeProposals {
    display: none;
  }

  .smallProposals {
    margin: 1em 0;

    mat-list-item:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
