<div *ngIf="proposals && proposals.length > 0">
  <mat-paginator
    [pageSizeOptions]="[30, 1000]"
    [pageIndex]="currentPage$ | async"
    [length]="proposalCount$ | async"
    [pageSize]="proposalsPerPage$ | async"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
  <mat-table
    #table
    [dataSource]="proposals"
    matSort
    (matSortChange)="onSortChange($event)"
  >
    <ng-container matColumnDef="proposalId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="material-icons">perm_contact_calendar</i>
        Id</mat-header-cell
      >
      <mat-cell *matCellDef="let proposal"> {{ proposal.proposalId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="material-icons">fingerprint</i>
        Title</mat-header-cell
      >
      <mat-cell *matCellDef="let proposal"> {{ proposal.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="material-icons">person</i>
        Author</mat-header-cell
      >
      <mat-cell *matCellDef="let proposal">
        {{ proposal.firstname }}&nbsp;{{ proposal.lastname }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="material-icons">timer</i>
        Start</mat-header-cell
      >
      <mat-cell *matCellDef="let proposal">
        <div *ngIf="proposal.MeasurementPeriodList[0].start">
          {{ proposal.MeasurementPeriodList[0].start | date }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="material-icons">timer_off</i>

        End</mat-header-cell
      >
      <mat-cell *matCellDef="let proposal">
        <div *ngIf="proposal.MeasurementPeriodList[0].end">
          {{ proposal.MeasurementPeriodList[0].end | date }}
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      (click)="onRowSelect($event, row)"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
</div>

<div *ngIf="proposals && proposals.length === 0">
  {{ hasFetched ? "No proposals." : "Loading..." }}
</div>
