<mat-card
  class="dropzone"
  ngxFileDropzone
  [readMode]="readMode"
  multiple
  accept="image/*"
  (readStart)="onReadStart($event)"
  (fileDrop)="onFilePicked($event)"
  (readEnd)="onReadEnd($event)"
>
  <div fxLayout="column" style="align-items: center">
    <div class="instructions">
      Drop a file here
    </div>
    <div class="instructions">or</div>
    <div class="instructions">
      <button
        class="attach-button"
        type="button"
        mat-button
        ngxFilePicker
        [readMode]="readMode"
        multiple
        accept="image/*"
        (readStart)="onReadStart($event)"
        (filePick)="onFilePicked($event)"
        (readEnd)="onReadEnd($event)"
      >
        Browse
      </button>
    </div>
  </div>
</mat-card>

<mat-card class="file-picker">
  <div class="mat-title">Choose an image to upload</div>

  <button
    class="attach-button"
    type="button"
    mat-button
    ngxFilePicker
    [readMode]="readMode"
    multiple
    accept="image/*"
    (readStart)="onReadStart($event)"
    (filePick)="onFilePicked($event)"
    (readEnd)="onReadEnd($event)"
  >
    Browse
  </button>
</mat-card>
