<p>
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>Ingestor-Connection</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div *ngIf="connectingToFacilityBackend">
        <mat-progress-spinner diameter="20"
          mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!connectingToFacilityBackend">
        <ng-container *ngIf="connectedFacilityBackend === ''">
          <p style="color: red;">No Backend connected</p>

          <p>Please provide a valid Backend URL</p>
          <mat-form-field>
            <input matInput placeholder="Backend URL"
              [(ngModel)]="forwardFacilityBackend">
          </mat-form-field>
          <button mat-raised-button color="primary"
            (click)="forwardToIngestorPage()">Connect</button>

          <div>
            <ul>
              <li *ngFor="let backend of lastUsedFacilityBackends">
                <a (click)="selectFacilityBackend(backend)">{{ backend }}</a>
              </li>
            </ul>
          </div>

        </ng-container>
        <ng-container *ngIf="connectedFacilityBackend !== ''">
          <!-- Mat List with the most important information about the backend connection -->
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Backend URL</span>
              <span matListItemLine>{{ connectedFacilityBackend }} <a
                  (click)="disconnectIngestor()">change</a></span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Connection Status</span>
              <span matListItemLine style="color: green;">Connected</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Version</span>
              <span matListItemLine>{{ connectedFacilityBackendVersion }}</span>
            </mat-list-item>
          </mat-list>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="connectedFacilityBackend !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>Ingest Dataset</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div>
      </div>
      <app-metadata-editor></app-metadata-editor>
      <div>
        <button mat-raised-button color="primary" (click)="upload()"
          [disabled]="loading">
          <span *ngIf="!loading">Upload</span>
          <mat-progress-spinner *ngIf="loading" diameter="20"
            mode="indeterminate"></mat-progress-spinner>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="returnValue !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>Return Value</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div>
      </div>
      <div>
        <p>{{returnValue}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="errorMessage !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header class="ingestor-mixed-header">
      <mat-card-title>Error message</mat-card-title>
      <button mat-icon-button class="ingestor-close-button" (click)="clearErrorMessage()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div>
        <p style="color: red" [innerHTML]="errorMessage"></p>
      </div>
    </mat-card-content>
  </mat-card>
</p>