.ingestor-vertical-layout {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* src/app/ingestor/ingestor.component.scss */
.ingestor-mixed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingestor-close-button {
  margin-left: auto;
}