<p>
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>Control center</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div *ngIf="connectingToFacilityBackend">
        <mat-progress-spinner diameter="20"
          mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!connectingToFacilityBackend">
        <ng-container *ngIf="connectedFacilityBackend === ''">
          <p style="color: red;">No Backend connected</p>

          <p>Please provide a valid Backend URL</p>
          <mat-form-field>
            <input matInput placeholder="Backend URL"
              [(ngModel)]="forwardFacilityBackend">
          </mat-form-field>
          <button mat-raised-button color="primary"
            (click)="onClickForwardToIngestorPage()">Connect</button>

          <div>
            <ul>
              <li *ngFor="let backend of lastUsedFacilityBackends">
                <a (click)="onClickSelectFacilityBackend(backend)">{{ backend
                  }}</a>
              </li>
            </ul>
          </div>

        </ng-container>
        <ng-container *ngIf="connectedFacilityBackend !== ''">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Transfers">
              <button matTooltip="Refresh transfer list" mat-button aria-label="Refresh transfer list"
                (click)="onClickRefreshTransferList()">
                <mat-icon>refresh</mat-icon>
              </button>
              <table mat-table [dataSource]="transferDataSource"
                class="mat-elevation-z8">
                <ng-container matColumnDef="transferId">
                  <th mat-header-cell *matHeaderCellDef><b>ID</b> </th>
                  <td mat-cell *matCellDef="let element"> {{element.transferId}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef><b>Status</b> </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef class="text-right">
                    <b>Action</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-button aria-label="Delete transfer"
                      (click)="onCancelTransfer(element.transferId)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-button aria-label="Pause transfer">
                      <mat-icon>pause_circle</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
            </mat-tab>
            <mat-tab label="User information">
              <!-- Mat List with the most important information about the user connection -->
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>Username</span>
                  <span matListItemLine>Name</span>
                </mat-list-item>
                <mat-list-item>
                  <button mat-button (click)="openIngestorLogin()">Login</button>
                </mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Connection information">
              <!-- Mat List with the most important information about the backend connection -->
              <mat-list>
                <mat-list-item>
                  <span matListItemTitle>Backend URL</span>
                  <span matListItemLine>{{ connectedFacilityBackend }} <a
                      (click)="onClickDisconnectIngestor()">change</a></span>
                </mat-list-item>
                <mat-list-item>
                  <span matListItemTitle>Connection Status</span>
                  <span matListItemLine style="color: green;">Connected</span>
                </mat-list-item>
                <mat-list-item>
                  <span matListItemTitle>Version</span>
                  <span matListItemLine>{{ connectedFacilityBackendVersion
                    }}</span>
                </mat-list-item>
                <mat-list-item>
                  <span matListItemTitle>Health Status</span>
                  <ng-container *ngFor="let status of ingestorHealthStatus">
                    <mat-list-item>
                      <span matListItemTitle>{{ status.title }}</span>
                      <span matListItemLine>{{ status.value }}</span>
                    </mat-list-item>
                  </ng-container>
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group>
          <br><br>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="connectedFacilityBackend !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>New transfer</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <button mat-fab aria-label="Add a new dataset transfer" color="primary"
        (click)="onClickAddIngestion()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="returnValue !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header>
      <mat-card-title>Return Value</mat-card-title>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div>
      </div>
      <div>
        <p>{{returnValue}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</p>

<p *ngIf="errorMessage !== ''">
  <mat-card class="ingestor-card">
    <mat-card-header class="ingestor-mixed-header">
      <mat-card-title>Error message</mat-card-title>
      <button mat-icon-button class="ingestor-close-button"
        (click)="clearErrorMessage()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="ingestor-vertical-layout">
      <div>
        <p style="color: red" [innerHTML]="errorMessage"></p>
      </div>
    </mat-card-content>
  </mat-card>
</p>