@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: map-get($theme, "color");
  $primary: map-get($color-config, "primary");
  $hover: map-get($color-config, "hover");

  .table-toolbar {
    background: mat.get-color-from-palette(
      $primary,
      "default-contrast"
    ) !important;
  }
  mat-table {
    .first-header-row {
      background-color: mat.get-color-from-palette(
        $primary,
        "default"
      ) !important;
    }

    mat-header-cell {
      mat-icon {
        color: mat.get-color-from-palette($primary, "default-contrast");
      }

      .mat-sort-header-content {
        color: mat.get-color-from-palette($primary, "default-contrast");
      }
    }

    mat-row:hover {
      background-color: mat.get-color-from-palette($hover, "lighter");
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-outline {
        background: mat.get-color-from-palette($primary, "default-contrast");
      }
      .mat-form-field-outline-thick {
        color: mat.get-color-from-palette($primary, "default");
      }
    }
  }

  dynamic-mat-table {
    mat-header-row.mat-mdc-header-row.header {
      background-color: mat.get-color-from-palette(
        $primary,
        "default"
      ) !important;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
