@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $hover: map.get($color-config, "hover");

  .table-toolbar {
    background: mat.get-color-from-palette(
      $primary,
      "default-contrast"
    ) !important;
  }

  mat-table {
    mat-header-row {
      background-color: mat.get-color-from-palette(
        $primary,
        "default"
      ) !important;
    }

    mat-header-cell {
      mat-icon {
        color: mat.get-color-from-palette($primary, "default-contrast");
      }

      .mat-sort-header-content {
        color: mat.get-color-from-palette($primary, "default-contrast");
      }
    }

    .btnToggleExpand.active:before {
      background-color: red;
    }

    .btnToggleExpand:before {
      color: white;
      border-color: white;
      background-color: green;
    }

    mat-row:hover {
      background-color: mat.get-color-from-palette($hover, "lighter");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
