<div class="center">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-toolbar>
  <mat-form-field appearance="standard">
    <mat-icon>search</mat-icon>
    <input type="search" matInput placeholder="global search" #input>
  </mat-form-field>
  <span class="example-spacer"></span>
  <span>{{dataSource.collection}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="exportToExcel()">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <mat-paginator [length]="dataSource.count$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons>
  </mat-paginator>
</mat-toolbar>

<mat-table #dataTable [dataSource]="dataSource" matSort multiTemplateDataRows>

  <!-- Toggle Button Start -->
  <ng-container matColumnDef="trigger">
    <mat-header-cell *matHeaderCellDef fxFlex="70px">
      <mat-icon>menu</mat-icon>
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let i = dataIndex;" fxFlex="70px">
      <span (click)="toggleExpandFlag(row.uniqueId);"
        [ngClass]="[expandedElement[row.uniqueId] ?  'active' : 'inActive']" class="btnToggleExpand"></span>
    </mat-cell>
  </ng-container>
  <!-- Toggle Button End -->
  <ng-container [matColumnDef]="column.id" *ngFor="let column of visibleColumns">
    <ng-container *ngIf="column.canSort; else noSort">
      <mat-header-cell *matHeaderCellDef class="col-search" fxLayoutAlign="start start" fxLayout="column">
        <div fxLayout="column" style="align-items: center">
          <mat-icon>{{ column.icon }}</mat-icon>
          <span mat-sort-header>{{ column.label | titleCase }}</span>
        </div>
        <mat-form-field *ngIf="column.matchMode;">
          <input #allFilters matInput autocomplete="off" id="{{ column.id }}" placeholder="{{ column.matchMode }}" />
        </mat-form-field>
      </mat-header-cell>
    </ng-container>
    <ng-template #noSort>
      <mat-header-cell *matHeaderCellDef class="col-search" fxLayoutAlign="start start" fxLayout="column">
        <div fxLayout="column" style="align-items: center">
          <mat-icon>{{ column.icon }}</mat-icon>
          <span mat-sort-header>{{ column.label }}</span>
        </div>
        <mat-form-field *ngIf="column.matchMode;">
          <input #allFilters matInput autocomplete="off" id="{{ column.id }}" placeholder="{{ column.matchMode }}" />
        </mat-form-field>
      </mat-header-cell>
    </ng-template>

    <mat-cell *matCellDef="let row" [fxFlex]="column.width + 'px'">
      <ng-container [ngSwitch]="column.type">
        <ng-container *ngSwitchCase="'image'"><img [src]=row[column.id] /></ng-container>
        <ng-container *ngSwitchCase="'dataseturl'"><a [routerLink]="['/datasets/',getPropertyByPath(row,column.id)]">{{ getPropertyByPath(row,column.id) }}</a> </ng-container>
        <ng-container  *ngSwitchDefault class="ellipsis"> {{ getPropertyByPath(row,column.id)  | newDynamicPipe: column.format }}</ng-container>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hidden">
    <mat-cell *matCellDef="let row;let i = dataIndex;" class="matCell" fxLayout="column" fxLayoutAlign="center start">
      <p *ngFor="let hiddenColumn of hiddenColumns" fxLayout="row" class="m8">
        <strong>
          {{ hiddenColumn.label }}:
        </strong>
        <span>
          <ng-container [ngSwitch]="hiddenColumn.type">
            <ng-container *ngSwitchCase="'image'"><img [src]=row[hiddenColumn.id] /></ng-container>
            <ng-container *ngSwitchCase="'dataseturl'"><a [routerLink]="['/datasets/',getPropertyByPath(row,hiddenColumn.id)]">{{ getPropertyByPath(row,hiddenColumn.id) }}</a> </ng-container>
            <ng-container *ngSwitchDefault> {{ getPropertyByPath(row,hiddenColumn.id) | newDynamicPipe: hiddenColumn.format }}</ng-container>
          </ng-container>
        </span>
      </p>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="visibleColumnsIds; sticky: true" class="matHeaderRow"></mat-header-row>

  <mat-row *matRowDef="let row; let i = dataIndex; columns: visibleColumnsIds"
    class="matRowVisible visible-row-{{row.uniqueId}}" (click)="onRowClick(row)"></mat-row>

  <!-- Body row definition for hidden columns -->
  <mat-row *matRowDef="let row; let i = dataIndex; columns: ['hidden'];" [@detailExpand]="getExpandFlag(row.uniqueId)"
    style="overflow: hidden" class="matRowHidden hidden-row-{{row.uniqueId}} hidColLength-{{hiddenColumns.length}}"
    [ngClass]="expandedElement[row.uniqueId] ? 'expanded' : 'collapsed'"></mat-row>

</mat-table>
