.m8 {
  margin: 8px;
}
.padding-right-1em {
  padding-right: 1em;
}
::ng-deep .table-toolbar {
  .mat-mdc-paginator-range-label {
    // Hide range label on small screen
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
  mat-form-field {
    flex-grow: 1;
  }
}

.over-flow-scroll {
  overflow-x: scroll;
}

::ng-deep
  .table-toolbar
  mat-form-field.mat-mdc-form-field-appearance-standard
  .mat-form-field-flex {
  padding-top: 0;
}

// Align search icon with placeholder
::ng-deep .table-toolbar mat-form-field .mat-mdc-form-field-prefix,
.mat-form-field-suffix {
  align-self: flex-end;
}

.disabled {
  color: black;
  text-decoration: line-through;
  opacity: 0.3;
  pointer-events: none;
}

.expanded {
  height: min-content !important;
  visibility: visible !important;
}

.hidden {
  display: none;
}

.btnToggleExpand {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.btnToggleExpand.active:before {
  content: "-";
  background-color: red;
}

.btnToggleExpand:before {
  top: 9px;
  left: -9px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 14px;
  content: "+";
  background-color: green;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

mat-table {
  mat-header-cell.mat-column-select {
    justify-content: center;
  }

  mat-cell.mat-column-select {
    justify-content: center;
  }
}

mat-cell > span.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.shared-table-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.trigger-column {
  max-width: 36px;
}

//Styling for filter columns and row
::ng-deep .mat-mdc-table {
  mat-header-cell,
  mat-cell {
    padding-right: 1em;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-mdc-cell {
    word-break: break-word;
  }
  .mat-form-field-appearance-outline {
    .mat-mdc-text-field-wrapper {
      margin: 0.25em 0;
    }
    .mat-mdc-form-field-infix {
      padding: 0.5em 0 !important;
      min-height: 13px !important;
    }
  }
  .mat-mdc-text-field-wrapper {
    padding-bottom: 0em;
  }
  // Align Start date and End date
  .mat-date-range-input-container {
    align-items: inherit;
  }

  .mat-column-select {
    max-width: 25px;
  }

  .mat-column-select-filter {
    max-width: 25px;
  }
}
