@import 'src/theme.scss';

a {
  color: mat-color($primary);
}

a:hover {
  color: mat-color($accent);
}

.main {
  padding: 1.5em;
}

.ui#content {
  padding-top: 75px;
}

td {
  overflow: hidden;
}

.dash-container {
  width: 90%;
  margin-left: 5%;
}

.container {
  margin: 0 1%;
  min-width: 98%;
  min-height: 100%;
}

.app-title {
  margin-left: 2%;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav-toggle {
  padding-right: 0.5%;
}

.example-container {
  /* position: absolute; */
  /* margin-left: 10%; */
  /* min-height: 100% !important; */
}

.mat-snack-bar-container {
  background-color: mat-color($primary);
}

.mat-drawer-backdrop {
  opacity: 0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: mat-color($accent, lighter, 0.5);
  text-align: center;
}

.material-icons {
  vertical-align: middle;
}


.userButton {
  margin-top: 3px;
  background-color: transparent;
  border: none;
  font-size: 10px;
  line-height: 20px;
}
