<div class="ui fixed menu">
    <!-- <div class="ui container"> -->
      <a href="#" class="header item">
        <img class="logo" src="favicon.ico">
        {{title}}
      </a>
      <simple-notifications [options]="options"></simple-notifications>
      <!--<a href="#" class="item">Home</a>-->
      <div class="right menu">
          <ng-container *ngIf="username !== null; then accountTemplate else loginTemplate"></ng-container>
          <ng-template #accountTemplate>
            <a class="item" [routerLink]="['/datasets/']" [routerLinkActive]="['active']">Home</a>
            <a class="item" [routerLink]="['/sample-data/', 'add']" [routerLinkActive]="['active']">Sample Data Entry</a>
            <a class="item" [routerLink]="['/user/','jobs']" [routerLinkActive]="['active']">Jobs</a>
            <div class="ui simple dropdown item">
                <i class="dropdown icon"></i>
                    {{ username }}
                <div class="menu">
                <div class="header">Account Actions</div>
                <a class="item" [routerLinkActive]="['active']" [routerLink]="['/user/','details']">Details</a>
                <a class="item" [routerLinkActive]="['active']" [routerLink]="['/user/','settings']">Settings</a>
                <a class="item" (click)="logout()">Logout</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                <i class="dropdown icon"></i>
                    About
                <div class="menu">
                <div class="header">{{title}}
                </div>
                <a class="item">Version: {{appVersion}}</a>
                <a href="https://scicatproject.github.io/docs/" class="item">Help</a>
                </div>
            </div>
          </ng-template>
          <ng-template #loginTemplate>
              <a class="active item" [routerLink]="['/','login']">Login</a>
          </ng-template>
      </div>
    <!-- </div> -->
</div>
<div id="content" class="ui dash-container">
    <breadcrumb></breadcrumb>
    <!-- <div *ngIf="message$" [attr.class]="msgClass$ | async">{{message$ | async}}</div> -->
    <br>
    <router-outlet ></router-outlet>
</div>


