.ui#content{
  padding-top: 75px;
}

td {
    overflow: hidden;
}

.dash-container {
    width: 90%;
    margin-left: 5%;
}

.app-title {
    margin-left: 2%;
}


.example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    position: absolute;
    min-height: 100% !important;
    
    } 