form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
}

form p {
    grid-column: 1 / 2;
}

label {
    grid-column: 1 / 2;
}
 
input,
button {
    grid-column: 2 / 3;
}
