@import '../../../../theme.scss';

$ds-archive: mat-palette($mat-green, 600);

.dataset-action {
  /* float: right; */
}

.tab-content {
	padding: 1.5em;
}

td, th {
	padding: 0.5em;
}

th {
	text-align: left;
	vertical-align: top;
}

:host /deep/ .ds-check {
  width: 25px !important;
}

:host /deep/ .mode-container {
  padding-left: 30px;
  text-align: center ;
}

:host /deep/ .center-align {
  text-align: center;
}

:host /deep/ .left-align {
  width: 100%;
  text-align: left !important;
}


:host /deep/ .buttons {
  display: inline-block;
  /* padding: 50px; */
}

:host /deep/ .ui-selection-column {
  width: 30px !important;
  /* padding: 50px; */
}


:host /deep/ .disabled-row {
  pointer-events: none;
  opacity: 0.2 !important;
}

:host /deep/ table thead tr th p-dtcheckbox {
  visibility:hidden;
}

:host /deep/ .mat-row:hover {
  background-color: rgba(32, 32, 216, 0.3);
  cursor: pointer;
}

:host /deep/ .datasets-header {
  background-color: mat-color($primary);
}

:host /deep/ .row-archiveable {
  background-color: mat-color($ds-archive, 500, 0.2);
}

:host /deep/ .row-retrievable {
  background-color: mat-color($ds-archive, 500, 0.2);
}

:host /deep/ .row-empty {
  background-color: mat-color($warn, 100, 0.2);
}

