<div class="footer">
  <mat-toolbar class="mat-elevation-z1">
    <span class="spacer"></span>

    <span>
      <h6>
        <a
          class="toplink"
          href="{{ imprintUrl }}"
          target="_blank"
          rel="noopener"
        >
          <mat-icon>description</mat-icon>
          <span class="large-screen-text">Imprint</span>
        </a>
      </h6>
    </span>

    <span>
      <h6>
        <a
          class="toplink"
          href="{{ privacyUrl }}"
          target="_blank"
          rel="noopener"
        >
          <mat-icon>lock</mat-icon>
          <span class="large-screen-text">Privacy</span>
        </a>
      </h6>
    </span>
  </mat-toolbar>
</div>
