<ng-container *ngIf="instrument$ | async as instrument">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="80">
      <mat-card>
        <mat-card-header class="general-header">
          <div mat-card-avatar class="section-icon">
            <mat-icon> description </mat-icon>
          </div>
          General Information
        </mat-card-header>
        <mat-card-content>
          <div class="details">
            <table>
              <tr *ngIf="instrument.uniqueName as value">
                <th>Unique Name</th>
                <td>{{ value }}</td>
              </tr>
              <tr *ngIf="instrument.name as value">
                <th>Name</th>
                <td>{{ value }}</td>
              </tr>
              <tr *ngIf="instrument.pid as value">
                <th>PID</th>
                <td>{{ value }}</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        data-cy="instrument-metadata-card"
        *ngIf="instrument.customMetadata as value"
      >
        <mat-card-header class="customMetadata-header">
          <div mat-card-avatar class="section-icon">
            <mat-icon> science </mat-icon>
          </div>
          Custom Metadata
        </mat-card-header>

        <mat-card-content>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>list</mat-icon> View
              </ng-template>

              <ng-template matTabContent>
                <div [ngSwitch]="appConfig.metadataStructure">
                  <tree-view
                    *ngSwitchCase="'tree'"
                    [metadata]="value"
                  ></tree-view>
                  <metadata-view
                    *ngSwitchDefault
                    [metadata]="value"
                  ></metadata-view>
                </div>
              </ng-template>
            </mat-tab>

            <mat-tab *ngIf="isAdmin$ | async">
              <ng-template mat-tab-label>
                <mat-icon>edit</mat-icon> Edit
              </ng-template>

              <ng-template matTabContent>
                <div [ngSwitch]="appConfig.metadataStructure">
                  <tree-edit
                    *ngSwitchCase="'tree'"
                    [metadata]="value"
                    (save)="onSaveCustomMetadata(instrument.pid, $event)"
                    (hasUnsavedChanges)="onHasUnsavedChanges($event)"
                  ></tree-edit>
                  <metadata-edit
                    *ngSwitchDefault
                    [metadata]="value"
                    (save)="onSaveCustomMetadata(instrument.pid, $event)"
                  ></metadata-edit>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
