@use '~@angular/material' as mat;
@import "../../../theme.scss";

mat-card {
  margin: 1em;

  .general-header {
    background-color: mat.get-color-from-palette($primary, lighter);
  }

  .customMetadata-header {
    background-color: mat.get-color-from-palette($navy, 400);
  }

  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }

  .details {
    padding: 1em;

    table {
      tr {
        th {
          text-align: left;
          padding-right: 0.5em;
        }

        td {
          padding: 0.5em;
        }
      }
    }
  }
}
