@import "../../../theme.scss";

mat-card {
  margin: 1em;

  .details-header {
    background-color: mat-color($primary, lighter);
  }

  .customMetadata-header {
    background-color: mat-color($navy, 400);
  }

  .details {
    padding: 1em;

    table {
      tr {
        th {
          text-align: left;
          padding-right: 0.5em;

          mat-icon {
            vertical-align: middle;
          }
        }

        td {
          padding: 0.5em;
        }
      }
    }
  }
}
