.ingestor-vertical-layout {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ingestor-dialog-header {
  display: flex;
  flex-direction: column;
}

.ingestor-mixed-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ingestor-stepper-header {
  flex: 1;
  width: 95%;
  align-self: center;
}

.ingestor-close-button {
  margin-left: auto;
}

.form-full-width {
  width: 100%;
}

.metadata-preview {
  height: 50vh;
}

mat-card {
  margin: 1em;

  .mat-mdc-card-content {
    padding: 1em;
  }

  .section-icon {
    height: auto;
    width: auto;

    mat-icon {
      vertical-align: middle;
    }
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner-text {
  margin-top: 0.5em;
  font-size: 1em;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  padding: 1em;
}

.user-info .user-icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.user-info .user-icon-container p {
  margin: auto 0;
}

.divider-down {
  margin-bottom: 1em;
}

.code-editor pre.code {
  white-space: pre-wrap;
  counter-reset: listing;
  line-height: 0.1;
}
.code-editor pre.code code {
  counter-increment: listing;
  display: flex;
  line-height: 1;
}

.code-editor pre.code code::before {
  content: counter(listing) " ";
  display: inline-block;
  width: 2em; /* Breite für die Zeilennummern */
  text-align: right; /* Rechtsbündige Zeilennummern */
  margin-right: 0.5em; /* Abstand zwischen Zeilennummer und Code */
}

.transferPaginator {
  margin-top: 1.5em;
}

.file-browser-view-toggle {
  display: flex;
  justify-content: flex-end;
}

.confirm-message-ingestor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm-message-ingestor-icon {
  font-size: 4em;
  width: auto;
  height: auto;
}

.vertical-center-list-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.last-used-facility-backends {
  margin-top: 1em;
}

.block-button {
  display: block;
  margin-top: 0.5em;
}
