<h1 mat-dialog-title>Privacy Notice</h1>
<h3 mat-dialog-title>For SciCat</h3>
<mat-dialog-content>
  <strong>Introduction</strong>

  <p>
    The European Spallation Source ERIC (ESS) takes the privacy rights of
    individuals very seriously. ESS complies with personal data laws (GDPR) by
    keeping your personal data up-to-date, protecting your information from
    loss, misuse, unauthorised access and disclosure by ensuring appropriate
    technical measures are in place.
  </p>
  <ol>
    <li>
      <strong>How will you use my information?</strong>
      <p>
        We will use the personal data you give us in this form to register an
        account in our system, the SciCat. The information is needed in order to
        login, view proposals and upload attachments.
      </p>
    </li>
    <li>
      <strong
        >Will my personal data be sent to countries outside the EEA?
      </strong>

      <p>
        SciCat or ESS will not send your personal information outside the
        European Economic Area (EEA). SciCat and ESS treat all data in
        accordance with the General Data Protection Regulation (GDPR)
      </p>
    </li>
    <li>
      <strong>Why are you allowed to use my personal data?</strong>
      <p>
        In order to operate a user-based system, a minimum amount of personal
        data is required from the users. A valid email adress is required for
        account verification, signing in and using our system. The other
        personal data is required in order for SciCat staff to be able to
        provide the services offered by the SciCat Platform.
      </p>
    </li>
    <li>
      <strong>How long is my personal data stored?</strong>
      <p>
        Your personal data will be stored in our system for an amount of time
        not greater than what is necessary for us to process and review your
        proposal. At the end of this period, the personal data you provided for
        this registration will be deleted from our systems.
      </p>
    </li>
    <li>
      <strong>What if I don't consent to this privacy notice?</strong>
      <p>
        If you do not consent to this privacy notice, you will not be able to
        register and use the SciCat User Portal.
      </p>
    </li>
    <li>
      <strong>Will my personal data be secured?</strong>
      <p>
        The SciCat data catalogue is hosted on ESS premises and has the same
        backup regime as most other systems. Communication to the server is
        secured through HTTPS.
      </p>
    </li>
    <li>
      <strong>What rights do I have?</strong>
      <p>
        Unless subject to an exception, you have:<br />
        <strong>(a)</strong> The right to withdraw consent at any time for any
        reason;<br />
        <strong>(b)</strong> The right to request a copy of your personal data
        held by ESS;<br />
        <strong>(c)</strong> The right to request ESS to transmit your personal
        data to another data controller/entity;<br />
        <strong>(d)</strong> The right to request ESS to correct any personal
        data if it is found to be inaccurate or out-of-date;<br />
        <strong>(e)</strong> The right to request your personal data be erased
        when it is no longer necessary for ESS to retain such data;<br />
        <strong>(f)</strong> The right to request a restriction on further
        processing when there is a dispute over the accuracy of personal data
        stored;<br />
        <strong>(g)</strong> The right to lodge a complaint with the Swedish
        Data Protection Authority (Sw: Datainspektionen).
      </p>
    </li>
    <li>
      <strong>Who can I contact?</strong>
      <p>
        <strong>(a)</strong> For ESS Staff: you may exercise your rights by
        submitting a ticket in the internal ESS IT systems.<br />
        <strong>(b)</strong> For non-ESS Staff: For individuals who are not
        authorised in the internal ESS IT system, you may submit questions or
        exercise your rights by e-mail:
        <a href="mailto:privacy@esss.se">privacy&#64;esss.se</a>
      </p>
    </li>
    <li>
      <strong>Who else can I contact?</strong>
      <p>
        If you believe there has been a violation of your personal data
        protection rights, you may e-mail
        <a href="mailto:privacy@esss.se">privacy&#64;esss.se</a> to discuss a
        solution. At any time, you have the right to communicate directly with
        the Swedish Data Protection Authority (Sw: Datainspektionen) at:
      </p>
      <p>
        <strong>Datainspektionen</strong><br />
        Box 8114<br />
        104 20 Stockholm<br />
        Phone: 08-657 61 00<br />
        E-mail:
        <a href="mailto:datainspektionen@datainspektionen.se"
          >datainspektionen&#64;datainspektionen.se</a
        ><br />
      </p>
    </li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">
    Ok
  </button>
</mat-dialog-actions>
