@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");

  mat-toolbar {
    a {
      color: mat.get-color-from-palette($primary, "default-contrast");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
