@import "src/theme.scss";

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  height: 5vh;

  a {
    color: mat-color($primary);
  }

  a:hover {
    color: mat-color($accent);
  }

  .app-title {
    margin-left: 2%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .toplink {
    color: #ffffff;
    padding: 10px;
    font: bold;
    font-size: 11pt;
    font-family: "Times New Roman", Times, serif;
  }

  .material-icons {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 1279px) {
  .large-screen-text {
    display: none;
  }
}
