<mat-toolbar class="mat-elevation-z1" color="primary">
  <mat-toolbar-row>
    <h3 class="app-title">
      <a style="color:#ffffff;" [routerLink]="['/']"> {{ title }}</a>
    </h3>
    <span class="example-spacer"></span>
    <div>
      <h6>
        <a class="toplink" [routerLink]="['/login/help']">
          <i class="material-icons"> help </i>
          <span class="large-screen-text">Help</span></a
        >
      </h6>
    </div>
    <div>
      <h6>
        <a class="toplink" [routerLink]="['/login/about']">
          <i class="material-icons"> info </i>
          <span class="large-screen-text">About</span></a
        >
      </h6>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
