<mat-toolbar class="mat-elevation-z1" color="primary">
  <a [routerLink]="['/']">
    <img class="logo" src="../../../assets/images/scicat-logo-white.png" />
  </a>
  <a [routerLink]="['/']">
    <ng-template [ngIf]="facility === 'ESS'" [ngIfElse]="otherFacility">
      <img class="logo" src="../../../assets/images/esslogo-white.png" />
    </ng-template>
    <ng-template #otherFacility>
      <img class="logo" src="../../../assets/images/esslogo.png" />
    </ng-template>
  </a>
  <a class="toplink" [routerLink]="['/']">
    <h3>
      {{ status }}
    </h3>
  </a>

  <span class="spacer"></span>

  <span>
    <h6>
      <a class="toplink" [routerLink]="['/login/help']">
        <mat-icon> help </mat-icon>
        <span class="large-screen-text">Help</span></a
      >
    </h6>
  </span>

  <span>
    <h6>
      <a class="toplink" [routerLink]="['/login/about']">
        <mat-icon> info </mat-icon>
        <span class="large-screen-text">About</span></a
      >
    </h6>
  </span>
</mat-toolbar>
