mat-card {
    margin: 1em;
  
    .section-icon {
      height: auto !important;
      width: auto !important;
  
      mat-icon {
        vertical-align: middle;
      }
    }
  
    table {
      th {
        .questionnaire{
          min-width: 20rem;
        }
        min-width: 10rem;
        padding-right: 0.5rem;
        text-align: left;
      }
  
      td {
        width: 100%;
        padding: 0.5rem 0;
  
        .sample-edit {
          padding-left: 0.5rem;
  
          mat-icon {
            font-size: medium;
          }
        }
  
      }
      .EMDB-ID{
        width: 15%;
      }
      .method-name{
        width: 25%;
      }
      .file-types{
        width:10%;
      }
      .full-width {
        width: 100%;
      }
      .fileChooser{
        margin-left: 0px;
      }
      .fileName {
        margin-left: 10px; 
        white-space: nowrap; 
      }
      .submitDep{
        background-color: blueviolet;
      }
    }
    
  }
 