<div
  class="logbooks-table"
  style="min-width: 1060px"
  *ngIf="logbooks && logbooks.length > 0"
>
  <mat-table [dataSource]="logbooks" class="logbook-table mat-elevation-z2">
    <!-- Column Definitions -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <mat-icon>fingerprint</mat-icon>
          </div>
          <div>Name</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">{{ logbook.name }}</mat-cell>
    </ng-container>

    <!-- Latest Entry Column -->
    <ng-container matColumnDef="latestEntry">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <mat-icon>calendar_today</mat-icon>
          </div>
          <div>Latest&nbsp;Entry</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">
        <div fxLayout="column" *ngIf="logbook.messages.length > 0">
          {{
            logbook.messages[0].origin_server_ts | date: "yyyy-MM-dd, EEE HH:mm"
          }}
        </div>
        <div fxLayout="column" *ngIf="logbook.messages.length === 0">
          No entries.
        </div>
      </mat-cell>
    </ng-container>

    <!-- Sender Column -->
    <ng-container matColumnDef="sender">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <mat-icon>person</mat-icon>
          </div>
          <div>Sender</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">
        <div fxLayout="column" *ngIf="logbook.messages.length > 0">
          {{
            logbook.messages[0].sender
              | slice: 1:logbook.messages[0].sender.indexOf(":")
          }}
        </div>
        <div fxLayout="column" *ngIf="logbook.messages.length === 0">
          --
        </div>
      </mat-cell>
    </ng-container>

    <!-- Entry Column -->
    <ng-container matColumnDef="entry">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <mat-icon>message</mat-icon>
          </div>
          <div>Entry</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">
        <div fxLayout="column" *ngIf="logbook.messages.length > 0">
          {{ logbook.messages[0].content.body }}
        </div>
        <div fxLayout="column" *ngIf="logbook.messages.length === 0">
          --
        </div>
      </mat-cell>
    </ng-container>

    <!-- End of Column Definitions -->

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
      *matRowDef="let logbook; columns: columnsToDisplay"
      (click)="onClick(logbook)"
    ></mat-row>
  </mat-table>
</div>
