@if (logbooks$ | async; as logbooks) {
  @if (logbooks.length > 0) {
    <div class="logbooks-table">
      <mat-table [dataSource]="logbooks" class="logbook-table mat-elevation-z2">
        <!-- Column Definitions -->
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>fingerprint</mat-icon>
              </div>
              <div>Name</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let logbook">{{ logbook.name }}</mat-cell>
        </ng-container>
        <!-- Latest Entry Column -->
        <ng-container matColumnDef="latestEntry">
          <mat-header-cell *matHeaderCellDef>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>calendar_today</mat-icon>
              </div>
              <div>Latest&nbsp;Entry</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let logbook">
            @if (logbook.messages.length > 0) {
              <div fxLayout="column">
                {{ logbook.messages[0].origin_server_ts | date }}
              </div>
            }
            @if (logbook.messages.length === 0) {
              <div fxLayout="column">No entries.</div>
            }
          </mat-cell>
        </ng-container>
        <!-- Sender Column -->
        <ng-container matColumnDef="sender">
          <mat-header-cell *matHeaderCellDef>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>person</mat-icon>
              </div>
              <div>Sender</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let logbook">
            @if (logbook.messages.length > 0) {
              <div fxLayout="column">
                {{ logbook.messages[0].senderName }}
              </div>
            }
            @if (logbook.messages.length === 0) {
              <div fxLayout="column">--</div>
            }
          </mat-cell>
        </ng-container>
        <!-- Entry Column -->
        <ng-container matColumnDef="entry">
          <mat-header-cell *matHeaderCellDef>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>message</mat-icon>
              </div>
              <div>Entry</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let logbook">
            @if (logbook.messages.length > 0) {
              <div fxLayout="column">
                @if (logbook.messages[0].content.msgtype !== "m.image") {
                  <div>
                    @if (!logbook.messages[0].content.formatted_body) {
                      <div
                        style="white-space: pre-wrap"
                        [innerHTML]="logbook.messages[0].content.body"
                      ></div>
                    }
                    @if (logbook.messages[0].content.formatted_body) {
                      <div
                        [innerHTML]="logbook.messages[0].content.formatted_body"
                      ></div>
                    }
                  </div>
                }
                @if (logbook.messages[0].content.msgtype === "m.image") {
                  <div>
                    <img
                      src="{{ logbook.messages[0].content.url }}"
                      alt="{{ logbook.messages[0].content.body }}"
                      height="60px"
                    />
                  </div>
                }
              </div>
            }
            @if (logbook.messages.length === 0) {
              <div fxLayout="column">--</div>
            }
          </mat-cell>
        </ng-container>
        <!-- End of Column Definitions -->
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
          *matRowDef="let logbook; columns: columnsToDisplay"
          (click)="onClick(logbook)"
        ></mat-row>
      </mat-table>
    </div>
  } @else {
    <mat-card class="no-logbooks-message">
      <mat-card-content>
        <mat-icon>info</mat-icon> No logbooks available.
      </mat-card-content>
    </mat-card>
  }
}
