mat-dialog-title {
  background-color: #1976d2; /* Example: Material Indigo 500 */
  color: white;
  padding: 12px 24px;
  width: 60%;
}

.filter-dialog-content {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0; /* Light grey background for contrast */
}

.filters-container {
  flex: 1 0 26%;
}

.conditions-container {
  flex: 1 0 70%;
  overflow-y: auto;
  max-height: 100%;
}

.scientific-chip-text {
  margin-left: 12px;
  line-height: 17px;
}

.scientific-chip-text-shrink-left {
  display: inline-block;
  max-width: 36%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scientific-chip-text-shrink-right {
  display: inline-block;
  max-width: 32%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.condition-action-items {
  position: relative;
  top: 5px;
  margin-right: 12px;
}
mat-nav-list {
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

mat-list-item {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: start; /* Aligns items to the start */
  padding: 10px 0; /* Provides padding within each list item */
  border-bottom: 1px solid #ccc; /* Adds a subtle line between items for better visual separation */
}

.filter-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread out the items to fill the horizontal space */
  padding: 8px 0; /* Add some padding around the items */
  border-bottom: 1px solid #e0e0e0; /* Optional: adds a separator line between items */

  &-disabled {
    opacity: 0.5; /* Dim the item to indicate it's disabled */
    pointer-events: none;
    cursor: not-allowed;
  }
}

.filter-toggle {
  transform: scale(0.9);
  flex-shrink: 0; /* Prevents the toggle from shrinking */
}

.filter-name {
  margin-left: 16px; /* Space between the toggle and the name */
  flex-grow: 1; /* Allows the name to take up any available space */
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Keeps the text within the container */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}

.spacer {
  flex-grow: 2; /* Forces any extra space to be added here, pushing the drag handle to the right */
}

.drag-handle {
  position: relative;
  top: 5px;
  cursor: grab; /* Changes the cursor to indicate draggable */
  margin-left: auto;
  margin-right: 12px;
}
