<ng-container *ngIf="user">
  <h1>{{ profile.displayName }} Details</h1>
  <table>
    <tr *ngIf="user.realm as value">
      <th>
        <i class="material-icons"> account_balance </i>
        Realm
      </th>
      <td>
        {{ value }}
      </td>
    </tr>
    <tr *ngIf="profile.displayName as value">
      <th>
        <i class="material-icons"> person </i>
        Name
      </th>
      <td>
        {{ value }}
      </td>
    </tr>
    <tr *ngIf="user.email as value">
      <th>
        <i class="material-icons"> mail </i>
        Email
      </th>
      <td>
        {{ value }}
      </td>
    </tr>
    <tr *ngIf="user.emailVerified as value">
      <th>
        <i class="material-icons"> done_outline </i>
        Email Verified
      </th>
      <td>
        {{ value }}
      </td>
    </tr>
    <tr *ngIf="user.id as value">
      <th>
        <i class="material-icons"> fingerprint </i>
        Id
      </th>
      <td>
        {{ value }}
      </td>
    </tr>
  </table>
</ng-container>
