@use "sass:map";
@use "~@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $header-3: map.get($color-config, "header-3");

  .jupyter-button {
    background-color: mat.get-color-from-palette($header-3, "defualt");
    color: mat.get-color-from-palette($header-3, "default-contrast");
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
