<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #groupChipList>
    <mat-chip-row
      *ngFor="let group of groupFilter$ | async"
      [removable]="true"
      (removed)="groupRemoved(group)"
    >{{ group }}<mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>
  </mat-chip-grid>
  <input
    #input
    (input)="onGroupInput($event)"
    [value]="groupInput$ | async"
    matInput
    class="group-input"
    [matChipInputFor]="groupChipList"
    [matAutocomplete]="grp"
  />
  <mat-autocomplete #grp="matAutocomplete">
    <mat-option
      (onSelectionChange)="groupSelected(getFacetId(fc))"
      *ngFor="let fc of groupSuggestions$ | async"
    >
      <span>{{ getFacetId(fc, "No Group") }}</span> |
      <small>{{ getFacetCount(fc) }}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
