<mat-form-field [id]="key">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #chipList>
    <mat-chip-row
      *ngFor="let item of currentFilter$ | async"
      [removable]="true"
      (removed)="itemRemoved(item)"
      >{{ getLabel(item) || "No item" }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-row>
  </mat-chip-grid>
  <input
    #input
    (input)="onInput($event)"
    [value]="input$ | async"
    matInput
    class="item-input"
    [matChipInputFor]="chipList"
    [matAutocomplete]="mutiselection"
    matTooltip="{{ tooltip }}"
    matTooltipPosition="after"
  />

  <mat-autocomplete #mutiselection="matAutocomplete">
    <mat-option
      (onSelectionChange)="itemSelected(fc)"
      *ngFor="let fc of suggestions$ | async"
    >
      <span>{{ getLabel(fc._id) }} | </span>
      <small>{{ getFacetCount(fc) }}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
