<div class="dialog-control-buttons">
  <button *ngIf="this.createNewTransferData.editorMode !== 'CREATION'"
    mat-button matTooltip="Save the current values."
    [disabled]="activeStep === 0" (click)="onSave()"><mat-icon
      class="control-button-icon">save</mat-icon></button>
  <button *ngIf="this.createNewTransferData.editorMode !== 'CREATION'"
    mat-button matTooltip="Upload a template." [disabled]="activeStep < 1"
    (click)="onUpload()"><mat-icon
      class="control-button-icon">upload</mat-icon></button>

  <button
    *ngIf="this.createNewTransferData !== undefined && this.createNewTransferData.editorMode !== 'CREATION'"
    mat-button [matMenuTriggerFor]="settingsMenu"
    matTooltip="Customize the metadata editor."
    [disabled]="activeStep > 0"><mat-icon
      class="control-button-icon">settings</mat-icon></button>
</div>

<mat-menu #settingsMenu="matMenu">
  <button *ngIf="this.createNewTransferData !== undefined" mat-menu-item
    (click)="onSwitchEditorMode('INGESTION')">
    <mat-icon
      *ngIf="this.createNewTransferData.editorMode === 'INGESTION'">check</mat-icon>Ingestion-Mode</button>
  <button *ngIf="this.createNewTransferData !== undefined" mat-menu-item
    (click)="onSwitchEditorMode('EDITOR')">
    <mat-icon
      *ngIf="this.createNewTransferData.editorMode === 'EDITOR'">check</mat-icon>Create
    JSON-Mode</button>
</mat-menu>

<div class="stepper" *ngIf="activeStep >= 0">
  <mat-stepper [linear]="true" [selectedIndex]="activeStep"
    class="ingestor-stepper">
    <!-- STEP 1 -->
    <mat-step [completed]="activeStep > 0" [editable]="false"
      [stepControl]="null">
      <ng-template *ngIf="this.createNewTransferData.editorMode === 'CREATION'"matStepLabel> Fill out Dataset information </ng-template>
      <ng-template *ngIf="this.createNewTransferData.editorMode !== 'CREATION'"matStepLabel>Select your ingestion method</ng-template>
    </mat-step>
    <!-- STEP 2 -->
    <mat-step *ngIf="this.createNewTransferData.editorMode !== 'CREATION'" 
      [completed]="activeStep > 1" [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Fill out user-specific metadata</ng-template>
    </mat-step>
    <!-- Step 2 for CREATION, Step 3 for others -->
    <mat-step [completed]="activeStep> (this.createNewTransferData.editorMode === 'CREATION' ? 1 : 2)" 
      [editable]="false"
      [stepControl]="null">
      <ng-template
        *ngIf="this.createNewTransferData.editorMode === 'INGESTION' || this.createNewTransferData.editorMode === 'EDITOR'"
        matStepLabel>Correct dataset-specific metadata</ng-template>
      <ng-template *ngIf="this.createNewTransferData.editorMode === 'CREATION'"
        matStepLabel>Fill out custom scientific metadata</ng-template>
    </mat-step>

    <!-- Step 3 for CREATION, Step 4 for others -->
    <mat-step [completed]="activeStep >  (this.createNewTransferData.editorMode === 'CREATION' ? 2 : 3)"
      [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Confirm inputs</ng-template>
    </mat-step>
  </mat-stepper>
</div>

  <mat-slide-toggle
    *ngIf="this.createNewTransferData !== undefined && activeRenderView !== null"
    [checked]="activeRenderView === 'requiredOnly'"
    (change)="onChangeViewMode()"
    color="primary"
  >
    {{ activeRenderView === 'requiredOnly' ? 'Required Only' : 'All Fields' }}
  </mat-slide-toggle>