<div class="dialog-control-buttons">
  <button mat-button matTooltip="Save the current values."
    [disabled]="activeStep < 1" (click)="onSave()"><mat-icon
      class="control-button-icon">save</mat-icon></button>
  <button mat-button matTooltip="Upload a template." [disabled]="activeStep < 1"
    (click)="onUpload()"><mat-icon
      class="control-button-icon">upload</mat-icon></button>
  <button
    *ngIf="this.createNewTransferData !== undefined && activeRenderView !== null"
    mat-button (click)="onChangeViewMode()" [matTooltip]="activeRenderView === 'requiredOnly'
    ? 'Show all fields.' : 'Show required fields only.'"><mat-icon
      class="control-button-icon">{{activeRenderView === "requiredOnly" ?
      "visibility" : "visibility_off"}}</mat-icon></button>
  <button *ngIf="this.createNewTransferData !== undefined" mat-button
    [matMenuTriggerFor]="settingsMenu"
    matTooltip="Customize the metadata editor."
    [disabled]="activeStep > 0"><mat-icon
      class="control-button-icon">settings</mat-icon></button>
</div>

<mat-menu #settingsMenu="matMenu">
  <button *ngIf="this.createNewTransferData !== undefined" mat-menu-item
    (click)="onSwitchEditorMode('INGESTION')">
    <mat-icon
      *ngIf="this.createNewTransferData.editorMode === 'INGESTION' ?? false">check</mat-icon>Ingestion-Mode</button>
  <button *ngIf="this.createNewTransferData !== undefined" mat-menu-item
    (click)="onSwitchEditorMode('EDITOR')">
    <mat-icon
      *ngIf="this.createNewTransferData.editorMode === 'EDITOR' ?? false">check</mat-icon>Create
    JSON-Mode</button>
</mat-menu>

<div class="stepper">
  <mat-stepper [linear]="true" [selectedIndex]="activeStep"
    class="ingestor-stepper">
    <mat-step [completed]="activeStep > 0" [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Select your ingestion method</ng-template>
    </mat-step>
    <mat-step [completed]="activeStep > 1" [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Fill out user-specific metadata</ng-template>
    </mat-step>
    <mat-step [completed]="activeStep > 2" [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Correct dataset-specific metadata</ng-template>
    </mat-step>
    <mat-step [completed]="activeStep > 3" [editable]="false"
      [stepControl]="null">
      <ng-template matStepLabel>Confirm inputs</ng-template>
    </mat-step>
  </mat-stepper>
</div>