@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: map-get($theme, "color");
  $primary: map-get($color-config, "primary");
  $header-1: map-get($color-config, "header-1");

  .tab-content {
    .general-header {
      background-color: mat.get-color-from-palette($primary, "lighter");
    }

    .creator-header {
      background-color: mat.get-color-from-palette($header-1, "lighter");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
