<div *ngIf="logbook">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="14" style="margin-right: 1em">
      <mat-card style="margin: 1em">
        <app-logbooks-filter></app-logbooks-filter>
      </mat-card>
      <mat-card style="margin: 1em">
        <app-content-selector></app-content-selector>
      </mat-card>
      <a
        mat-raised-button
        class="mat-elevation-z1"
        href="{{ appConfig.riotBaseUrl }}/#/room/{{ logbook.roomId }}"
        target="_blank"
        rel="noopener noreferrer"
        style="margin: 0 1em 1em"
        ><i class="material-icons"> chat_bubble_outline </i> Go to chat</a
      >
    </div>
    <div fxFlex="85">
      <mat-card style="margin: 1em">
        <app-logbooks-detail></app-logbooks-detail>
      </mat-card>
    </div>
  </div>
</div>
<div style="margin: 1em" *ngIf="!logbook">
  Logbook not available.
</div>
