mat-card {
  margin: 1em;
}

.title {
  font-size: 1.25em;
}

.cardButton {
  margin: 1em;
  text-align: center;

  .material-icons {
    vertical-align: middle;
  }
}

.cardButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.details-container {
  margin-top: 1em;

  .no-logbook-message {
    margin-top: 4em;
    text-align: center;

    mat-icon {
      vertical-align: middle;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .smallFilter {
    display: none;
  }

  .reverseCard {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .bigFilter {
    display: none;
  }

  .smallFilter {
    margin: 1em 0 1em 0;
  }

  .cardButton {
    margin: 1em 0 1em 0;
  }
}
