@use '~@angular/material' as mat;
@import "src/styles.scss";

.breadcrumb {
  margin: 1em 0;

  .container {
    border-top: 1px solid mat.get-color-from-palette($grey, 500);
    border-bottom: 1px solid mat.get-color-from-palette($grey, 500);
    padding: 0.3em 0;

    .delimiter {
      color: mat.get-color-from-palette($grey, 300);
    }

    .active {
      font-weight: bold;
    }
  }
}
