<div class="ingestor-mixed-header">
  <h2 mat-dialog-title>
    Confirm transfer
  </h2>
  <button mat-icon-button mat-dialog-close aria-label="Close"
    class="ingestor-close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <ingestor-dialog-stepper [activeStep]="3"
    [createNewTransferData]="createNewTransferData"
    (createNewTransferDataChange)="onCreateNewTransferDataChange($event)"></ingestor-dialog-stepper>

  <p
    *ngIf="createNewTransferData.apiInformation.ingestionRequestErrorMessage !== ''">
    <mat-card class="ingestor-card">
      <mat-card-header class="ingestor-mixed-header">
        <mat-card-title>Transfer request failed</mat-card-title>
      </mat-card-header>
      <mat-card-content class="ingestor-vertical-layout">
        <div class="confirm-message-ingestor">
            <mat-icon class="confirm-message-ingestor-icon">error</mat-icon>
            <p>The transfer request has failed.</p>
            <p class="confirm-message-error">
            {{createNewTransferData.apiInformation.ingestionRequestErrorMessage}}
            </p>
        </div>


      </mat-card-content>
    </mat-card>
  </p>

  <div
    *ngIf="createNewTransferData.ingestionRequest !== null && createNewTransferData.apiInformation.ingestionRequestErrorMessage === ''">
    <mat-card class="ingestor-card">
      <mat-card-header class="ingestor-mixed-header">
        <mat-card-title>Transfer requested</mat-card-title>
      </mat-card-header>
      <mat-card-content class="ingestor-vertical-layout">
        <div class="confirm-message-ingestor">
          <mat-icon
            class="confirm-message-ingestor-icon">check_circle</mat-icon>
            <p>The transfer request was successfully sent to the server.
            You will receive an email as soon as the data transfer is complete.
            </p>
            <p>Transfer ID: {{createNewTransferData.ingestionRequest.transferId}}
            </p>
            <p>Transfer status: {{createNewTransferData.ingestionRequest.status}}
            </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    *ngIf="createNewTransferData.ingestionRequest === null && createNewTransferData.apiInformation.ingestionRequestErrorMessage === ''">
    <p>Confirm Metadata</p>

    <div class="code-editor">
      <pre class="code">
      <div *ngFor="let line of provideMergeMetaData.split('\n')">
        <code>{{ line }}</code>
      </div>
      </pre>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="createNewTransferData.editorMode === 'EDITOR' ||
  createNewTransferData.editorMode === 'INGESTION' &&
  (createNewTransferData.ingestionRequest === null ||
  createNewTransferData.apiInformation.ingestionRequestErrorMessage !== '')"
    mat-button (click)="onClickBack()">Back</button>
  <button
    *ngIf="createNewTransferData.editorMode === 'INGESTION' && (createNewTransferData.ingestionRequest === null && createNewTransferData.apiInformation.ingestionRequestErrorMessage === '')"
    mat-button color="primary" cdkFocusInitial
    (click)="onClickConfirm()">Ingest</button>
  <button *ngIf="createNewTransferData.editorMode === 'EDITOR'" mat-button
    color="primary" cdkFocusInitial (click)="onCopyMetadata()">
    {{!copiedToClipboard ? "Copy JSON" : "Copied!"}}
  </button>
  <button
    *ngIf="copiedToClipboard || (createNewTransferData.ingestionRequest !== null && createNewTransferData.apiInformation.ingestionRequestErrorMessage === '')"
    mat-button color="primary" cdkFocusInitial mat-dialog-close>Close</button>
  <button
    *ngIf="createNewTransferData.apiInformation.ingestionRequestErrorMessage !== ''"
    mat-button color="warn" (click)="onClickRetryRequests()">Retry</button>
</mat-dialog-actions>