<div class="ingestor-mixed-header">
  <h2 mat-dialog-title>
    Correct dataset-specific metadata
  </h2>
  <button mat-icon-button mat-dialog-close aria-label="Close"
    class="ingestor-close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">

  <div *ngIf="!extractorMetaDataReady || extractorMetaDataError" class="spinner-container">
    <ng-container *ngIf="!extractorMetaDataError; else errorIcon">
      <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
      <div *ngIf="process > 0" class="progress-percentage">
        <span>{{process}}%</span>
      </div>
    </ng-container>
    <ng-template #errorIcon>
      <mat-icon color="warn">error</mat-icon>
    </ng-template>
    <div class="spinner-text">
      <span>{{extractorMetaDataStatus}}</span>
    </div>
  </div>

  <div *ngIf="extractorMetaDataReady">
    <ingestor-dialog-stepper [activeStep]="2"
      [createNewTransferData]="createNewTransferData"
      (createNewTransferDataChange)="onCreateNewTransferDataChange($event)"></ingestor-dialog-stepper>
    <div *ngIf="extractorMetaDataError" class="error-message">
      <mat-card class="error-card">
        <mat-card-header>
          <div mat-card-avatar class="section-icon">
            <mat-icon> error </mat-icon>
          </div>
          The automatic metadata extraction was not successful. Please enter
          the data manually.
        </mat-card-header>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="80%">
        <mat-card>
          <mat-card-header class="instrument-header"
            (click)="toggleCardContent('instrument')">
            <div mat-card-avatar class="section-icon">
              <mat-icon> biotech </mat-icon>
            </div>
            Instrument Information
            <span class="spacer"></span>
            <mat-icon
              [matTooltip]="isInstrumentMetadataOk ? 'Your input is correct.' : instrumentErrors"
              [ngClass]="isInstrumentMetadataOk ? 'success-icon' : 'error-icon'">{{
              isInstrumentMetadataOk ? 'check_circle_outline' :
              'error_outline'}}</mat-icon>
            <mat-icon class="toggle-icon">{{ isCardContentVisible.instrument ?
              'expand_less' : 'expand_more' }}</mat-icon>
          </mat-card-header>
          <mat-card-content *ngIf="isCardContentVisible.instrument">
            <app-metadata-editor [schema]="metadataSchemaInstrument"
              [data]="createNewTransferData.extractorMetaData['instrument']"
              (dataChange)="onDataChangeExtractorMetadataInstrument($event)"
              (errors)="instrumentErrorsHandler($event)"></app-metadata-editor>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="acquisition-header"
            (click)="toggleCardContent('acquisition')">
            <div mat-card-avatar class="section-icon">
              <mat-icon> category-search </mat-icon>
            </div>
            Acquisition Information
            <span class="spacer"></span>
            <mat-icon
              [matTooltip]="isAcquisitionMetadataOk ? 'Your input is correct.' : acquisitionErrors"
              [ngClass]="isAcquisitionMetadataOk ? 'success-icon' : 'error-icon'">{{
              isAcquisitionMetadataOk ? 'check_circle_outline' :
              'error_outline'}}</mat-icon>
            <mat-icon class="toggle-icon">{{ isCardContentVisible.acquisition ?
              'expand_less' : 'expand_more' }}</mat-icon>
          </mat-card-header>
          <mat-card-content *ngIf="isCardContentVisible.acquisition">
            <app-metadata-editor [schema]="metadataSchemaAcquisition"
              [data]="createNewTransferData.extractorMetaData['acquisition']"
              (dataChange)="onDataChangeExtractorMetadataAcquisition($event)"
              (errors)="acquisitionErrorsHandler($event)"></app-metadata-editor>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onClickBack()">Back</button>
  <button mat-button color="primary" cdkFocusInitial [mat-dialog-close]="true"
    (click)="onClickNext()" [disabled]="!uiNextButtonReady">Next</button>
</mat-dialog-actions>