<ng-template [ngIf]="visible">
  <button
    mat-raised-button
    class="action-button"
    type="button"
    (click)="perform_action()"
    color="accent"
    [disabled]="disabled"
  >
    <mat-icon *ngIf="use_mat_icon">{{ actionConfig.mat_icon }}</mat-icon>
    <img *ngIf="use_icon" src="{{ actionConfig.icon }}" />
    {{ actionConfig.label }}
  </button>
</ng-template>

<div class="popup-backdrop" *ngIf="showPopup" (click)="closePopup()"></div>
<div class="popup" *ngIf="showPopup" [class.show]="showPopup">
  <div class="popup-content">
    <p>{{ actionConfig.alertMessage }}</p>
    <div class="popup-actions">
      <button mat-raised-button color="primary" (click)="confirmAction()">
        Confirm
      </button>
      <button mat-raised-button (click)="closePopup()">Cancel</button>
    </div>
  </div>
</div>
