<!-- <mat-nav-list *ngIf="logbooks && logbooks.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let logbook of logbooks" [routerLink]="['/logbooks/', logbook.name]">
      <h4 mat-line>{{ logbook.name }}</h4>
    </mat-list-item>
  </mat-list>
</mat-nav-list>
<div *ngIf="logbooks && logbooks.length === 0">
  {{ hasFetched ? "No logbooks." : "Loading..." }}
</div> -->

<div
  class="logbook-table"
  style="min-width: 1060px"
  *ngIf="logbooks && logbooks.length > 0"
>
  <mat-table [dataSource]="logbooks" class="logbook-table mat-elevation-z2">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="table_column">Name</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">{{ logbook.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="latestEntry">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">calendar_today</i>
          </div>
          <div class="table_column">Latest&nbsp;Entry</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let logbook">
        <div fxLayout="column">
          <div>
            {{ logbook.messages.reverse()[0].timestamp | date: "yyy/MM/dd" }}
          </div>
          <div>
            {{ logbook.messages.reverse()[0].timestamp | date: "EEE HH:mm" }}
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>
