<breadcrumb></breadcrumb>

<proposal-search-bar></proposal-search-bar>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav-content>
    <div fxLayout="row" fxLayout.xs="column">
      <div class="action-column" fxFlex="0" fxFlex.lt-xl="0">
        <proposal-side-filter></proposal-side-filter>
      </div>

      <div class="table-column" fxFlex="100" fxFlex.lt-xl="100">
        <proposal-table
          [dataSource]="dataSource$"
          [defaultPageSize]="defaultPageSize"
        ></proposal-table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
