<ng-container *ngIf="vm$ | async as vm">
  <div fxLayout="row" fxLayout.lt-lg="column">
    <div
      fxFlex="14"
      fxFlex.lt-xl="20"
      *ngIf="appConfig.searchProposals; else spacer"
    >
      <proposal-filter
        [hasAppliedFilters]="vm.hasAppliedFilters"
        [searchBarValue]="vm.textFilter"
        [clearSearchBar]="clearSearchBar"
        [dateRangeValue]="vm.dateRangeFilter"
        (clear)="onClear()"
        (searchChange)="onTextSearchChange($event)"
        (dateChange)="onDateChange($event)"
      ></proposal-filter>
    </div>
    <ng-template #spacer>
      <div fxFlex="20" fxFlex.lt-xl="10"></div>
    </ng-template>
    <div fxFlex="63" fxFlex.lt-xl="80">
      <app-table
        [data]="tableData"
        [columns]="tableColumns"
        [paginate]="tablePaginate"
        [currentPage]="vm.proposalsPagination.currentPage"
        [dataCount]="vm.proposalsPagination.proposalsCount"
        [dataPerPage]="vm.proposalsPagination.proposalsPerPage"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      ></app-table>
      <ng-template [ngIf]="tableData && tableData.length === 0">
        <mat-card class="no-proposals-message">
          <mat-icon>info</mat-icon> No proposals available.
        </mat-card>
      </ng-template>
    </div>
  </div>
</ng-container>
