<breadcrumb></breadcrumb>

<proposal-search-bar></proposal-search-bar>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav-content>
    <div fxLayout="row" fxLayout.xs="column">
      <div class="action-column" fxFlex="14" fxFlex.lt-xl="20">
        <proposal-side-filter
          [filterLists]="filterLists"
        ></proposal-side-filter>
      </div>

      <div class="table-column" fxFlex="85" fxFlex.lt-xl="80">
        <proposal-table
          [dataSource]="dataSource$"
          [defaultPageSize]="defaultPageSize"
        ></proposal-table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
