@import "../../../theme.scss";

.paginator_table {
  width: 800px;
}

mat-header-cell {
  color: white;
  background: mat-color($primary);
  justify-content: center;
}

mat-header-row {
  color: white;
  background: mat-color($primary);
}

.table_column {
  color: white;
  justify-content: center;
}

mat-sort-header-button {
  color: white;
}

i {
  color: white;
}
