<div class="paginator_table">
  <mat-paginator
    [length]="count$ | async"
    [pageSize]="itemsPerPage$ | async"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage$ | async"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
  <mat-table [dataSource]="publishedData$" class="mat-elevation-z2">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="doi">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="table_column">
            DOI
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let published">{{ published.doi }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">face</i>
          </div>
          <div class="table_column">
            Creator
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let published"> {{ published.creator }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">description</i>
          </div>
          <div class="table_column">
            Title
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let published">{{ published.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="publicationYear">
      <mat-header-cell *matHeaderCellDef>
        <div fxLayout="column" style="align-items: center">
          <div>
            <i class="material-icons">date_range</i>
          </div>
          <div class="table_column">
            Year
          </div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let published">
        {{ published.publicationYear }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let published; columns: displayedColumns"
      (click)="onClick(published)"
    ></mat-row>
  </mat-table>
</div>
