@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: map-get($theme, "color");
  $primary: map-get($color-config, "primary");
  $header-1: map-get($color-config, "header-1");
  $header-2: map-get($color-config, "header-2");
  mat-card {
    .general-header {
      background-color: mat.get-color-from-palette($primary, "lighter");
    }

    .settings-header {
      background-color: mat.get-color-from-palette($header-1, "lighter");
    }

    .configs-header {
      background-color: mat.get-color-from-palette($header-2, "lighter");
    }
  }

  td {
    .copy-button {
      color: mat.get-color-from-palette($primary, "default");
    }
    .toggleButton {
      color: mat.get-color-from-palette($primary, "default");
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
