<div
  [style]="{ display: hidden ? 'none' : '' }"
  class="expand-panel-array-layout"
>
  <div class="array-layout-toolbar">
    <h2 class="mat-h2 array-layout-title">{{ label }}</h2>
    <span></span>
    <mat-icon
      *ngIf="this.error?.length"
      color="warn"
      matBadge="{{ this.error.split('\n').length }}"
      matBadgeColor="warn"
      matTooltip="{{ this.error }}"
      matTooltipClass="error-message-tooltip"
    >
      error_outline
    </mat-icon>
    <span></span>
    <button
      mat-button
      matTooltip="{{ translations.addTooltip }}"
      [disabled]="!isEnabled()"
      (click)="add()"
      attr.aria-label="{{ translations.addAriaLabel }}"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <p *ngIf="noData">{{ translations.noDataMessage }}</p>
  <div
    class="expand-panel-layout"
    *ngFor="
      let item of [].constructor(data);
      let idx = index;
      trackBy: trackByFn;
      last as last;
      first as first
    "
  >
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="panelOpenState"
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ getDisplayPropertyData(idx) }}</mat-panel-title>
          <mat-panel-description>
            <button
              class="item-up"
              mat-button
              [disabled]="first"
              (click)="up($event, idx)"
              attr.aria-label="{{ translations.upAriaLabel }}"
              matTooltip="{{ translations.up }}"
              matTooltipPosition="right"
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button
              class="item-down"
              mat-button
              [disabled]="last"
              (click)="down($event, idx)"
              attr.aria-label="{{ translations.downAriaLabel }}"
              matTooltip="{{ translations.down }}"
              matTooltipPosition="right"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <button
              mat-button
              color="warn"
              (click)="remove(idx)"
              attr.aria-label="{{ translations.removeAriaLabel }}"
              matTooltip="{{ translations.removeTooltip }}"
              matTooltipPosition="right"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <jsonforms-outlet [renderProps]="getProps(idx)"></jsonforms-outlet>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
