<mat-form-field
	[appearance]="appearance"
	[floatLabel]="floatLabel"
	class="numeric-range-field"
>
	<mat-label>{{ label }}</mat-label>
	<ngx-numeric-range-form-field-control
		id="numeric-range-form-control"
		[formControl]="control"
		[minPlaceholder]="minPlaceholder"
		[maxPlaceholder]="maxPlaceholder"
		[readonly]="readonly"
		[minReadonly]="minReadonly"
		[maxReadonly]="maxReadonly"
		[required]="required"
		(blurred)="onBlur()"
		(enterPressed)="onEnterPressed()"
		(numericRangeChanged)="onRangeValuesChanged($event)"
		[dynamicSyncValidators]="dynamicSyncValidators"
	></ngx-numeric-range-form-field-control>

	<mat-icon
		(click)="onReset()"
		*ngIf="
			resettable &&
			!readonly &&
			!minReadonly &&
			!maxReadonly &&
			(minControl.value !== null || maxControl.value !== null) &&
			!formGroup.disabled
		"
		color="primary"
		class="pointer"
		matSuffix
		>close
	</mat-icon>

	<mat-error
		*ngIf="
			minControl.hasError('required') || maxControl.hasError('required')
		"
	>
		{{ requiredErrorMessage }}
	</mat-error>

	<mat-error
		*ngIf="minControl.hasError('min') || maxControl.hasError('min')"
	>
		{{ minErrorMessage }}
	</mat-error>

	<mat-error
		*ngIf="minControl.hasError('max') || maxControl.hasError('max')"
	>
		{{ maxErrorMessage }}
	</mat-error>

	<mat-error
		*ngIf="
			formGroup.hasError('notValidRange') &&
			!minControl.errors &&
			!maxControl.errors
		"
	>
		{{ invalidRangeErrorMessage }}
	</mat-error>
</mat-form-field>
