mat-dialog-content {
  height: 30vh;
  display: flex;
  flex-direction: column;
  width: 50vh;

  .search-field {
    width: 100%;
  }

  .scroll-table-container {
    max-height: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 16px;
  }

  .mat-table {
    width: 100%;
  }
}
