mat-dialog-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100vh;

  .search-field {
    width: 100%;
  }

  .scroll-table-container {
    max-height: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 16px;
    overflow-x: hidden;
  }

  .mat-table {
    width: 100%;
    table-layout: fixed;
  }

  .selected_row {
    background-color: rgba(100, 100, 100, 0.1);
  }

  .parameter-option {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    max-width: 100%;

    .human-name {
      font-size: 16px;
      font-weight: 500;
      display: block;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .raw-name {
      font-size: 14px;
      margin-top: 2px;
      font-style: italic;
      color: rgba(0, 0, 0, 0.54);
      display: block;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.hover-card {
  min-width: 300px;
  max-width: 620px;
  overflow: hidden;
}

.hover-card-title {
  padding: 6px 16px;
  border-radius: 4px 4px 0 0;
  color: white;
  background: var(--theme-header-1-lighter);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hover-card-content {
  padding: 10px 16px;
  background: white;
  color: var(--theme-header-1-lighter-contrast);
  border-radius: 0 0 4px 4px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  strong {
    font-weight: 600;
  }
}
