<h2 mat-dialog-title>
  {{ data.dialogTitle }}
</h2>
<form
  [formGroup]="parametersForm"
  class="search-parameters-form"
  (ngSubmit)="add()"
>
  <mat-dialog-content>
    <div class="scroll-table-container">
      <table
        mat-table
        [dataSource]="parameterKeys"
        class="mat-elevation-z1 mat-table"
      >
        <ng-container matColumnDef="field">
          <td
            class="cell-content"
            mat-cell
            *matCellDef="let key"
            (click)="selectCondition(key)"
            style="cursor: pointer"
          >
            <div class="parameter-option">
              <div
                class="human-name"
                #hoverOriginSpan="cdkOverlayOrigin"
                cdkOverlayOrigin
                (mouseenter)="hoverKey = key"
                (mouseleave)="hoverKey = null"
              >
                <span *ngIf="getHumanName(key); else metadataKey">
                  {{ getHumanName(key) }}
                </span>
                <ng-template #metadataKey>
                  <span style="font-style: italic">{{ key }}</span>
                </ng-template>

                <!-- Hover overlay -->
                <ng-template
                  cdkConnectedOverlay
                  [cdkConnectedOverlayOrigin]="hoverOriginSpan"
                  [cdkConnectedOverlayOpen]="hoverKey === key"
                  [cdkConnectedOverlayPositions]="overlayPositions"
                >
                  <mat-card class="hover-card">
                    <mat-card-title class="hover-card-title">
                      Name Details
                    </mat-card-title>
                    <div mat-card-content class="hover-card-content">
                      <ng-container *ngIf="getHumanName(key); else rawNameOnly">
                        <strong>Human readable name: </strong>
                        {{ getHumanName(key) }}
                        <br />
                        <strong>Metadata name:</strong> {{ key }}
                      </ng-container>
                    </div>
                    <ng-template #rawNameOnly>
                      <strong>Metadata name:</strong>
                      <span style="font-style: italic">{{ key }}</span>
                    </ng-template>
                  </mat-card>
                </ng-template>
              </div>
              <div class="raw-name" *ngIf="getHumanName(key)">
                {{ key }}
              </div>
            </div>
          </td>
        </ng-container>
        <tr
          class="row-content"
          mat-row
          *matRowDef="let row; columns: ['field']"
          [class.selected_row]="
            (getHumanName(row) || row) === parametersForm.get('lhs').value ||
            row === parametersForm.get('lhs').value
          "
        ></tr>
      </table>
      <app-empty-content
        *ngIf="!parameterKeys?.length"
        message="No metadata keys found."
        icon="folder"
      >
      </app-empty-content>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</form>
