<mat-tab-group *ngIf="vm$ | async as vm">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon> details </mat-icon>
      Details
    </ng-template>
    <proposal-detail [proposal]="proposal"></proposal-detail>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon> folder </mat-icon>
      Datasets
    </ng-template>

    <div class="dataset-table">
      <app-table
        [data]="tableData"
        [columns]="tableColumns"
        [paginate]="tablePaginate"
        [currentPage]="vm.currentPage"
        [dataCount]="vm.datasetCount"
        [dataPerPage]="vm.datasetsPerPage"
        (pageChange)="onPageChange($event)"
        (rowClick)="onRowClick($event)"
      ></app-table>
    </div>
  </mat-tab>

  <mat-tab *ngIf="appConfig.logbookEnabled">
    <ng-template mat-tab-label>
      <mat-icon> book </mat-icon>
      Logbook
    </ng-template>

    <app-proposal-logbook [logbook]="logbook$ | async"></app-proposal-logbook>
  </mat-tab>
</mat-tab-group>
