@import "../../../theme.scss";

.no-entries-message {
  text-align: center;

  mat-icon {
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1280px) {
  .largeDetails {
    mat-header-row {
      background: mat-color($primary);
    }

    mat-header-cell {
      color: mat-color($primary, default-contrast);
      justify-content: left;
    }

    mat-cell {
      justify-content: left;
    }

    .mat-column-timestamp {
      max-width: 200px;
    }

    .mat-column-sender {
      max-width: 200px;
    }
  }

  .smallDetails {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .largeDetails {
    display: none;
  }

  .smallDetails {
    margin: 0 1em 1em 1em;

    .entryDate {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    .sender {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      display: block;
      margin-bottom: 16px;
    }

    .textContent {
      margin-bottom: 1em;
    }
  }
}
