@if (logbook && logbook.messages) {
  <div>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100, 500]"
      [pageIndex]="currentPage"
      [length]="entriesCount"
      [pageSize]="entriesPerPage"
      (page)="doPageChange($event)"
    >
    </mat-paginator>
    @if (logbook && logbook.messages.length > 0) {
      <mat-table
        [dataSource]="logbook.messages"
        matSort
        (matSortChange)="doSortChange($event)"
        class="largeDetails mat-elevation-z2"
      >
        <!-- Column Definitions -->
        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>schedule</mat-icon>
              </div>
              <div>Timestamp</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let message">
            {{ message.origin_server_ts | date }}
          </mat-cell>
        </ng-container>
        <!-- Sender Column -->
        <ng-container matColumnDef="sender">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>person</mat-icon>
              </div>
              <div>Sender</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let message">
            {{ message.senderName }}
          </mat-cell>
        </ng-container>
        <!-- Entry Column -->
        <ng-container matColumnDef="entry">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div fxLayout="column" style="align-items: center">
              <div>
                <mat-icon>comment</mat-icon>
              </div>
              <div>Entry</div>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let message">
            @if (message.content.msgtype !== "m.image") {
              <div fxLayout="column">
                @if (!message.content.formatted_body) {
                  <div
                    style="white-space: pre-wrap"
                    [innerHTML]="message.content.body | linky"
                  ></div>
                }
                @if (message.content.formatted_body) {
                  <div
                    [innerHTML]="message.content.formatted_body | linky"
                  ></div>
                }
              </div>
            }
            @if (message.content.msgtype === "m.image") {
              <div fxLayout="column">
                <a
                  href="{{ message.content.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="{{ message.content.url }}"
                    alt="{{ message.content.body }}"
                    height="60px"
                  />
                </a>
              </div>
            }
          </mat-cell>
        </ng-container>
        <!-- End of Column Definitions -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    } @else {
      <mat-card class="no-entries-message">
        <mat-card-content>
          <mat-icon>info</mat-icon> No entries available.
        </mat-card-content>
      </mat-card>
    }
    @if (logbook && logbook.messages.length > 0) {
      <mat-card class="smallDetails">
        <mat-card-content>
          @for (
            message of logbook.messages;
            track message;
            let i = $index;
            let first = $first
          ) {
            <div>
              <mat-accordion>
                @if (
                  first ||
                  (!first &&
                    (message.origin_server_ts | date: "yyyy-MM-dd") !==
                      (logbook.messages[i - 1].origin_server_ts
                        | date: "yyyy-MM-dd"))
                ) {
                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ message.origin_server_ts | date: "MMM d, y" }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <div class="sender">
                        {{ message.senderName }},
                        {{ message.origin_server_ts | date: "HH:mm" }}:
                      </div>
                      <div>
                        @if (message.content.msgtype !== "m.image") {
                          <div class="textContent">
                            @if (!message.content.formatted_body) {
                              <div style="white-space: pre-wrap">
                                {{ message.content.body }}
                              </div>
                            }
                            @if (message.content.formatted_body) {
                              <div
                                [innerHTML]="message.content.formatted_body"
                              ></div>
                            }
                          </div>
                        }
                        @if (message.content.msgtype === "m.image") {
                          <div fxLayout="column">
                            <a
                              href="{{ message.content.url }}"
                              target="_blank"
                              rel="noopener noreferrer"
                            >
                              <img
                                src="{{ message.content.url }}"
                                alt="{{ message.content.body }}"
                                width="60px"
                              />
                            </a>
                          </div>
                        }
                        @if (i < logbook.messages.length - 1) {
                          <div>
                            <mat-divider></mat-divider>
                          </div>
                        }
                      </div>
                    </div>
                    @for (value of logbook.messages; track value) {
                      <div>
                        @if (
                          value !== message &&
                          (value.origin_server_ts | date: "yyyy-MM-dd") ===
                            (message.origin_server_ts | date: "yyyy-MM-dd")
                        ) {
                          <div>
                            <div class="sender">
                              {{ value.senderName }},
                              {{ value.origin_server_ts | date: "HH:mm" }}:
                            </div>
                            <div>
                              @if (value.content.msgtype !== "m.image") {
                                <div class="textContent">
                                  @if (!value.content.formatted_body) {
                                    <div style="white-space: pre-wrap">
                                      {{ value.content.body }}
                                    </div>
                                  }
                                  @if (value.content.formatted_body) {
                                    <div
                                      [innerHTML]="value.content.formatted_body"
                                    ></div>
                                  }
                                </div>
                              }
                              @if (value.content.msgtype === "m.image") {
                                <div fxLayout="column">
                                  <a
                                    href="{{ value.content.url }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                  >
                                    <img
                                      src="{{ value.content.url }}"
                                      alt="{{ value.content.body }}"
                                      width="60px"
                                    />
                                  </a>
                                </div>
                              }
                              @if (i < logbook.messages.length - 1) {
                                <div>
                                  <mat-divider></mat-divider>
                                </div>
                              }
                            </div>
                          </div>
                        }
                      </div>
                    }
                  </mat-expansion-panel>
                }
              </mat-accordion>
            </div>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
}
