@import "../../../theme.scss";

@media only screen and (min-width: 1280px) {
  .largeDetails {
    mat-header-cell {
      color: white;
      background: mat-color($primary);
      justify-content: center;

      i {
        color: white;
      }
    }

    mat-header-row {
      color: white;
      background: mat-color($primary);
    }

    .table_column {
      color: white;
    }

    .mat-column-timestamp {
      flex: 1 0 100px;
      max-width: 200px;
      justify-content: left !important;
    }

    .mat-column-sender {
      flex: 1 0 100px;
      max-width: 200px;
      justify-content: left !important;
    }

    .mat-column-entry {
      flex: 1 0 100px;
      justify-content: left !important;
    }
  }

  .smallDetails {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .largeDetails {
    display: none;
  }

  .entryDate {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  .sender {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    display: block;
    margin-bottom: 16px;
  }

  .textContent {
    margin-bottom: 1em;
  }
}
