@import "../../../theme.scss";

mat-card {
  margin: 1em;
  width: 800px;

  .about-header {
    background-color: mat-color($primary, lighter);
  }

  .admin-header {
    background-color: mat-color($accent, lighter);
  }

  mat-icon {
    vertical-align: middle;
  }

  table {
    td,
    th {
      padding: 0.3em;
    }

    th {
      text-align: left;
      vertical-align: top;
      min-width: 15em;
    }
  }
}
