<div
  class="publishedData-detail"
  *ngIf="(publishedData$ | async) as publishedData"
>
  <mat-card class="matcarddetails">
    <div class="details">
      <mat-card-header style="background:#7de1ff;">
        About the published data
      </mat-card-header>
      <table class="details-table">
        <tr *ngIf="publishedData.title as value">
          <th><i class="material-icons"> event </i> Title</th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.creator as value">
          <th><i class="material-icons"> person </i> Creator</th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.affiliation as value">
          <th>
            <i class="material-icons"> home </i>
            Affiliation
          </th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.publisher as value">
          <th>
            <i class="material-icons">
              account_balance
            </i>
            Publisher
          </th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.abstract as value">
          <th>
            <i class="material-icons">
              person
            </i>
            Abstract
          </th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.doi as value">
          <th>
            <i class="material-icons">
              description
            </i>
            DOI
          </th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.authors as value">
          <th><i class="material-icons"> group </i> Author List</th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.url as value">
          <th><i class="material-icons"> group </i> URL</th>
          <td><span [innerHTML]="value | linky"></span></td>
        </tr>
        <tr *ngIf="publishedData.sizeOfArchive as value">
          <th>
            <i class="material-icons">
              sd_storage
            </i>
            Size
          </th>
          <td>{{ value | filesize }}</td>
        </tr>
        <tr *ngIf="publishedData.numberOfFiles as value">
          <th>
            <i class="material-icons">
              file_copy
            </i>
            Number of Files
          </th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.dataDescription as value">
          <th>
            <i class="material-icons">
              language
            </i>
            Data Description
          </th>
          <td><span [innerHTML]="value | linky"></span></td>
        </tr>
        <tr *ngIf="publishedData.pidArray as value">
          <th><i class="material-icons"> file_copy </i>Dataset IDs</th>
          <td>{{ value }}</td>
        </tr>
        <tr *ngIf="publishedData.resourceType as value">
          <th>
            <i class="material-icons">
              local_offer
            </i>
            Resource Type
          </th>
          <td>{{ value }}</td>
        </tr>
      </table>
    </div>
  </mat-card>
  <mat-card class="matcarddetails">
    <button (click)="show = !show">
      {{ show ? "Hide MetaData" : "Show Metadata" }}
    </button>
    <br />
    <div *ngIf="show">
      <ngx-json-viewer
        [json]="publishedData$ | async"
        [expanded]="false"
      ></ngx-json-viewer>
    </div>
  </mat-card>
</div>
