.dashboard-main {
  width: 100%;
  max-width: 100%;
}
.dashboard-header {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0; 
}

mat-sidenav-container {
  mat-sidenav-content {
    padding: 0.5rem;
    background-color: #ffffff;

    .action-column {
      margin-right: 0.5rem;

      .add-card {
        margin: 1rem 0 1rem;
        text-align: center;

        mat-icon {
          vertical-align: middle;
        }
      }

      .add-card:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .table-column {
      padding-bottom: 1rem;
    }
  }

  mat-sidenav.mat-drawer-opened,
  mat-sidenav.mat-drawer-opening {
    box-shadow: 0 0 0 0 !important;
  }
}
