.full-width-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.full-width-search-input {
  width: 100%;
  max-width: 600px; /* or whatever maximum width you prefer */
  padding: 8px;
  border: 1px solid #ccc; /* Style according to your theme */
  border-radius: 4px; /* Optional */
}

mat-sidenav-container {
  mat-sidenav-content {
    padding: 0.5rem;
    background-color: #ffffff;

    :host-context(.anonymous-site) .action-column {
      margin-top: 3.5rem;
    }
    .action-column {
      margin-right: 0.5rem;

      .add-card {
        margin: 1rem 0 1rem;
        text-align: center;

        mat-icon {
          vertical-align: middle;
        }
      }

      .add-card:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .table-column {
      margin-top: 0.5rem;
      padding-bottom: 1rem;
    }
  }

  mat-sidenav.mat-drawer-opened,
  mat-sidenav.mat-drawer-opening {
    box-shadow: 0 0 0 0 !important;
  }
}
