<ng-container *ngIf="vm$ | async as vm">
  <div fxLayout="row" fxLayout.lt-lg="column">
    <div fxFlex="100">
      <app-table
        [data]="vm.instruments"
        [columns]="tableColumns"
        [paginate]="tablePaginate"
        [currentPage]="vm.currentPage"
        [dataCount]="vm.instrumentsCount"
        [dataPerPage]="vm.instrumentsPerPage"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      ></app-table>
    </div>
  </div>
</ng-container>
