@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.job-action {
  float: right;
}

/*Columns are dynamically injected, so this /deep/ ensures it is reflected onto the selector  */
:host /deep/ .js-check {
  width: 25px !important;
}

/*td {
    overflow: hidden;
}*/
