<div>
<p-dataTable #js [paginator]="true" [lazy]="true" [rows]="limit$ | async" [value]="jobs" [rowHover]="true" (onLazyLoad)="onPage($event)"
             [resizableColumns]="true" columnResizeMode="expand" [totalRecords]="jobsCount" dataKey="creationTime">
  <p-column [style]="{'width':'28px', 'overflow':'hidden'}" *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable">
    <ng-template let-col let-js="rowData" let-ri="rowIndex" pTemplate="body">
      <span>{{getFormat(col.field, js[col.field], js)}}</span>
    </ng-template>
  </p-column>
  <p-footer>
  </p-footer>
</p-dataTable>
</div>



