<ng-template [ngIf]="data && data.length > 0">
  <mat-paginator
    class="largeData"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    [length]="dataCount"
    [pageSize]="dataPerPage"
    (page)="onPageChange($event)"
    *ngIf="paginate"
  >
  </mat-paginator>

  <mat-table
    [dataSource]="data"
    matSort
    class="largeData mat-elevation-z2"
    (matSortChange)="onSortChange($event)"
  >
    <ng-template [ngIf]="select">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            (change)="$event ? onSelectAll($event) : null"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            [checked]="selection.isSelected(row)"
            (change)="$event ? onSelectOne($event, row) : null"
            (click)="$event.stopPropagation()"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
    </ng-template>

    <ng-template ngFor let-column [ngForOf]="columns">
      <ng-container matColumnDef="{{ column.name }}">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!column.sort"
        >
          <div fxLayout="column" style="align-items: center">
            <div>
              <mat-icon>{{ column.icon }}</mat-icon>
            </div>
            <div>
              {{ column.name | titleCase }}
            </div>
          </div>
        </mat-header-cell>
        <div *ngIf="column.dateFormat">
          <mat-cell *matCellDef="let data">
            {{ data[column.name] | date: column.dateFormat }}</mat-cell
          >
        </div>
        <div *ngIf="!column.dateFormat && column.pipe">
          <mat-cell *matCellDef="let data">
            {{ data[column.name] | dynamicPipe: column.pipe : [] }}</mat-cell
          >
        </div>
        <div *ngIf="!column.dateFormat && !column.pipe">
          <mat-cell *matCellDef="let data"> {{ data[column.name] }}</mat-cell>
        </div>
      </ng-container>
    </ng-template>

    <mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="matHeaderRow first-header-row"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClick(row)"
    ></mat-row>
  </mat-table>

  <mat-card class="smallData">
    <mat-card-content>
      <mat-list>
        <ng-template [ngIf]="select">
          <mat-list-item>
            <mat-checkbox
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              (change)="$event ? onSelectAll($event) : null"
            >
            </mat-checkbox>

            <p mat-line></p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-template>
        <ng-template ngFor let-entry [ngForOf]="data" let-last="last">
          <mat-list-item (click)="onRowClick(entry)">
            <ng-template [ngIf]="select">
              <mat-checkbox
                [checked]="selection.isSelected(entry)"
                (change)="$event ? onSelectOne($event, entry) : null"
                (click)="$event.stopPropagation()"
              >
              </mat-checkbox>
            </ng-template>
            <p mat-line class="title">{{ entry[listItems[0]] }}</p>
            <p mat-line *ngFor="let item of listItems; let first = first">
              <span *ngIf="!first">
                {{ item | titleCase }}: {{ entry[item] }}
              </span>
            </p>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
