@media only screen and (min-width: 1280px) {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  mat-table {
    margin-bottom: 5em;

    .mat-column-standard_select, .mat-column-select {
      max-width: 75px;
      justify-content: center;
    }

    mat-header-cell:first-child {
      justify-content: left;
    }
    mat-header-cell:nth-child(n + 2) {
      justify-content: left;
    }

    mat-cell:first-child {
      justify-content: center;
    }
    mat-cell:nth-child(n + 2) {
      justify-content: left;
    }

    mat-row:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card.smallData {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .largeData {
    display: none;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card.smallData {
    margin: 1em 0;

    .title {
      font-size: 1.1em;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    mat-list-item:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
