mat-sidenav-container {
  height: 100vh;

  mat-sidenav-content {
    padding: 0.5em;
    background-color: #ffffff;

    .action-column {
      margin-top: 4em;
      margin-right: 1em;
    }

    .table-column {
      margin-top: 1.5em;
    }
  }

  mat-sidenav.mat-drawer-opened,
  mat-sidenav.mat-drawer-opening {
    box-shadow: 0 0 0 0 !important;
  }
}
