@import "../node_modules/@angular/material/_theming";

$custom-typography: mat-typography-config(
  $font-family: '"Titillium Web", Calibri, sans-serif;'
);

@include mat-core($custom-typography);

$blue: (
  50: #7de1ff,
  100: #64d2f5,
  200: #41b9e6,
  300: #1ea5d7,
  400: #0094ca,
  500: #007daa,
  600: #00698c,
  700: #00556e,
  800: #004155,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff
  )
);

$green: (
  50: #d2f082,
  100: #9bbe05,
  200: #466e00,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$orange: (
  50: #ffc896,
  100: #ff7d00,
  200: #c8af00,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$violet: (
  50: #ff96fa,
  100: #b40096,
  200: #6e006e,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$yellow: (
  50: #e1dc7d,
  100: #ffbe00,
  200: #d28c14,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$red: (
  50: #ff6e6e,
  100: #c81919,
  200: #820019,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$brown: (
  50: #d2b478,
  100: #966e14,
  200: #644600,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$grey: (
  50: #dcdcdc,
  100: #969696,
  200: #4b4b4b,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff
  )
);

$primary: mat-palette($blue, 400, 50, 800);
$accent: mat-palette($green, 100, 50, 200);
$warn: mat-palette($red, 100, 50, 200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.dark-theme {
  $primary: mat-palette($blue, 600, 400, 800);
  $accent: mat-palette($green, 100, 50, 200);
  $warn: mat-palette($red, 100, 50, 200);

  $theme: mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
}
