/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css'; */

body {
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.no-hover-effect.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}
