// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
@use "./app/app-theme" as app;
@use "./app/_layout/app-header/app-header-theme" as app-header;
@use "./app/datasets/batch-view/batch-view-theme" as batch-view;
@use "./app/datasets/dashboard/dashboard-theme" as dashboard;
@use "./app/datasets/datafiles/datafiles-theme" as datafiles;
@use "./app/datasets/dataset-detail/dataset-detail/dataset-detail-theme" as
  dataset-detail;
@use "./app/datasets/dataset-detail/dataset-detail-dynamic/dataset-detail-dynamic-theme"
  as dataset-detail-dynamic;
@use "./app/datasets/dataset-details-dashboard/dataset-details-dashboard-theme"
  as dataset-details-dashboard;
@use "./app/datasets/dataset-lifecycle/dataset-lifecycle-theme" as
  dataset-lifecycle;
@use "./app/datasets/dataset-table/dataset-table-theme" as dataset-table;
@use "./app/datasets/reduce/reduce-theme" as reduce;
@use "./app/instruments/instrument-details/instrument-details-theme" as
  instrument-details;
@use "./app/logbooks/logbooks-detail/logbooks-detail-theme" as logbooks-detail;
@use "./app/logbooks/logbooks-table/logbooks-table-theme" as logbooks-table;
@use "./app/proposals/proposal-detail/proposal-detail-theme" as proposal-detail;
@use "./app/publisheddata/publisheddata-details/publisheddata-details-theme" as
  publisheddata-details;
@use "./app/samples/sample-dashboard/sample-dashboard-theme" as sample-dashboard;
@use "./app/samples/sample-detail/sample-detail-theme" as sample-detail;
@use "./app/shared/modules/breadcrumb/breadcrumb-theme" as breadcrumb;
@use "./app/shared/modules/error-page/error-page-theme" as error-page;
@use "./app/shared/modules/shared-table/shared-table-theme" as shared-table;
@use "./app/shared/modules/table/table-theme" as table;
@use "./app/users/user-settings/user-settings-theme" as user-settings;

/* You can add global styles to this file, and also import other style files */
@use "assets/styles/titillium-web.scss";
@use "assets/styles/material-icons";

@use "sass:map";

$my-custom-button-level: mat.m2-define-typography-level(
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 36px,
  $letter-spacing: normal,
);

$custom-typography: mat.m2-define-typography-config(
  $font-family: '"Titillium Web", Calibri, sans-serif',
  $button: $my-custom-button-level,
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.typography-hierarchy($custom-typography);
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theme-primary: (
  default: var(--theme-primary-default),
  lighter: var(--theme-primary-lighter),
  darker: var(--theme-primary-darker),
  contrast: (
    default: var(--theme-primary-default-contrast),
    lighter: var(--theme-primary-lighter-contrast),
    darker: var(--theme-primary-darker-contrast),
  ),
);

$theme-accent: (
  default: var(--theme-accent-default),
  lighter: var(--theme-accent-lighter),
  darker: var(--theme-accent-darker),
  contrast: (
    default: var(--theme-accent-default-contrast),
    lighter: var(--theme-accent-lighter-contrast),
    darker: var
      (
        --theme-accent-darker-contrast,
      ),
  ),
);

$theme-warn: (
  default: var(--theme-warn-default),
  lighter: var(--theme-warn-lighter),
  darker: var(--theme-warn-darker),
  contrast: (
    default: var(--theme-warn-default-contrast),
    lighter: var(--theme-warn-lighter-contrast),
    darker: var(--theme-warn-darker-contrast),
  ),
);

$theme-warn-2: (
  default: var(--theme-warn-2-default),
  lighter: var(--theme-warn-2-lighter),
  darker: var(--theme-warn-2-darker),
  contrast: (
    default: var(--theme-warn-2-default-contrast),
    lighter: var(--theme-warn-2-lighter-contrast),
    darker: var(--theme-warn-2-darker-contrast),
  ),
);

$theme-header-1: (
  default: var(--theme-header-1-default),
  lighter: var(--theme-header-1-lighter),
  darker: var(--theme-header-1-darker),
  contrast: (
    default: var(--theme-header-1-default-contrast),
    lighter: var(--theme-header-1-lighter-contrast),
    darker: var(--theme-header-1-darker-contrast),
  ),
);

$theme-header-2: (
  default: var(--theme-header-2-default),
  lighter: var(--theme-header-2-lighter),
  darker: var(--theme-header-2-darker),
  contrast: (
    default: var(--theme-header-2-default-contrast),
    lighter: var(--theme-header-2-lighter-contrast),
    darker: var(--theme-header-2-darker-contrast),
  ),
);

$theme-header-3: (
  default: var(--theme-header-3-default),
  lighter: var(--theme-header-3-lighter),
  darker: var(--theme-header-3-darker),
  contrast: (
    default: var(--theme-header-3-default-contrast),
    lighter: var(--theme-header-3-lighter-contrast),
    darker: var(--theme-header-3-darker-contrast),
  ),
);

$theme-header-4: (
  default: var(--theme-header-4-default),
  lighter: var(--theme-header-4-lighter),
  darker: var(--theme-header-4-darker),
  contrast: (
    default: var(--theme-header-4-default-contrast),
    lighter: var(--theme-header-4-lighter-contrast),
    darker: var(--theme-header-4-darker-contrast),
  ),
);

$theme-hover: (
  default: var(--theme-hover-default),
  lighter: var(--theme-hover-lighter),
  darker: var(--theme-hover-darker),
  contrast: (
    default: var(--theme-hover-default-contrast),
    lighter: var(--theme-hover-lighter-contrast),
    darker: var(--theme-hover-darker-contrast),
  ),
);

$primary: mat.m2-define-palette($theme-primary, "default", "lighter", "darker");
$accent: mat.m2-define-palette($theme-accent, "default", "lighter", "darker");
$warn: mat.m2-define-palette($theme-warn, "default", "lighter", "darker");
$warn-2: mat.m2-define-palette($theme-warn-2, "default", "lighter", "darker");
$header-1: mat.m2-define-palette(
  $theme-header-1,
  "default",
  "lighter",
  "darker"
);
$header-2: mat.m2-define-palette(
  $theme-header-2,
  "default",
  "lighter",
  "darker"
);
$header-3: mat.m2-define-palette(
  $theme-header-3,
  "default",
  "lighter",
  "darker"
);
$header-4: mat.m2-define-palette(
  $theme-header-4,
  "default",
  "lighter",
  "darker"
);
$hover: mat.m2-define-palette($theme-hover, "default", "lighter", "darker");

$basetheme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $custom-typography,
    density: -1,
  )
);

$newcolor: map.merge(
  map.get($basetheme, "color"),
  (
    warn-2: $warn-2,
    header-1: $header-1,
    header-2: $header-2,
    header-3: $header-4,
    header-4: $header-4,
    hover: $hover,
  )
);

$theme: map.merge(
  $basetheme,
  (
    color: $newcolor,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
@include app.theme($theme);
@include app-header.theme($theme);
@include batch-view.theme($theme);
@include dashboard.theme($theme);
@include datafiles.theme($theme);
@include dataset-detail.theme($theme);
@include dataset-detail-dynamic.theme($theme);
@include dataset-details-dashboard.theme($theme);
@include dataset-lifecycle.theme($theme);
@include dataset-table.theme($theme);
@include reduce.theme($theme);
@include instrument-details.theme($theme);
@include logbooks-detail.theme($theme);
@include logbooks-table.theme($theme);
@include proposal-detail.theme($theme);
@include publisheddata-details.theme($theme);
@include sample-dashboard.theme($theme);
@include sample-detail.theme($theme);
@include breadcrumb.theme($theme);
@include error-page.theme($theme);
@include shared-table.theme($theme);
@include table.theme($theme);
@include user-settings.theme($theme);
@include mat.button-density(0);
@include mat.icon-button-density(0);

html,
body {
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.no-hover-effect.mat-mdc-button .mat-button-focus-overlay {
  background-color: transparent;
}

.snackbar-success {
  background-color: mat.m2-get-color-from-palette($primary, "default");

  button {
    color: white;
  }
}

.snackbar-error {
  background-color: mat.m2-get-color-from-palette($warn, "default");

  button {
    color: white;
  }
}

.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-label-text-color: var(--theme-primary-default-contrast);
}

.mat-mdc-unelevated-button.mat-accent {
  --mdc-filled-button-label-text-color: var(--theme-accent-default-contrast);
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-label-text-color: var(
    --theme-primary-default-contrast
  );
}

.mat-mdc-raised-button.mat-warn {
  --mdc-protected-button-label-text-color: var(
    --theme-primary-default-contrast
  );
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-label-text-color: var(--theme-accent-default-contrast);
}

// Manipulate initial background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mdc-text-field--filled {
  padding: 0 !important;

  input.mat-mdc-chip-input {
    margin-left: 0;
  }
}

.mat-mdc-form-field {
  font-size: 14px !important;

  .mat-mdc-form-field-subscript-dynamic-size {
    min-height: 0.6666666667em;
  }
}

.mat-datepicker-toggle {
  [mat-icon-button] {
    width: 32px !important;
    height: 32px !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }

    .mat-mdc-button-touch-target {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-handle-color: var(--theme-accent-default);
  --mdc-switch-selected-pressed-handle-color: var(--theme-accent-default);
  --mdc-switch-selected-pressed-state-layer-color: var(--theme-accent-default);
  --mdc-switch-selected-hover-state-layer-color: var(--theme-accent-default);
  --mdc-switch-selected-hover-handle-color: var(--theme-accent-default);
  --mdc-switch-selected-focus-state-layer-color: var(--theme-accent-default);
  --mdc-switch-selected-focus-handle-color: var(--theme-accent-default);
  --mdc-switch-selected-track-color: var(--theme-accent-default);
  --mdc-switch-selected-pressed-track-color: var(--theme-accent-default);
  --mdc-switch-selected-hover-track-color: var(--theme-accent-default);
  --mdc-switch-selected-focus-track-color: var(--theme-accent-default);
}

.mat-mdc-tab-nav-bar,
.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
