
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

$custom-typography: mat.define-typography-config(
  $font-family: '"Titillium Web", Calibri, sans-serif;'
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$cyan: (
  50: #f2f9fc,
  100: #e5f4f9,
  200: #cceaf4,
  300: #b2e0ee,
  400: #99d5e9,
  500: #7fcbe3,
  600: #66c1de,
  700: #4cb6d8,
  800: #32acd3,
  900: #19a2cd,
  1000: #0099c8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    1000: #ffffff,
  ),
);

$navy: (
  50: #f2f4f7,
  100: #e5eaef,
  200: #ccd6e0,
  400: #99adc1,
  600: #6684a3,
  800: #325b84,
  1000: #003366,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    400: #000000,
    600: #ffffff,
    800: #ffffff,
    1000: #ffffff,
  ),
);

$grass: (
  50: #f9fbf2,
  100: #f4f8e5,
  200: #eaf2cc,
  400: #d6e599,
  600: #c1d866,
  800: #adcb32,
  1000: #99be00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    400: #000000,
    600: #ffffff,
    800: #ffffff,
    1000: #ffffff,
  ),
);

$forest: (
  50: #f2f7f5,
  100: #e5efec,
  200: #cce0da,
  400: #99c1b5,
  600: #66a390,
  800: #32846a,
  1000: #006646,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    400: #000000,
    600: #ffffff,
    800: #ffffff,
    1000: #ffffff,
  ),
);

$orange: (
  50: #fff8f2,
  100: #fff2e5,
  200: #ffe5cc,
  400: #ffcb99,
  600: #ffb166,
  800: #ff9732,
  1000: #ff7d00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    400: #000000,
    600: #ffffff,
    800: #ffffff,
    1000: #ffffff,
  ),
);

$purple: (
  50: #f8f3f8,
  100: #f2e7f2,
  200: #e6d0e6,
  400: #cda1cd,
  600: #b472b4,
  800: #9b429b,
  1000: #821482,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    400: #000000,
    600: #ffffff,
    800: #ffffff,
    1000: #ffffff,
  ),
);

$grey: (
  50: #f2f2f2,
  100: #e5e5e5,
  200: #cccccc,
  300: #b2b2b2,
  400: #999999,
  500: #7f7f7f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
  ),
);

$yellow: (
  50: #e1dc7d,
  100: #ffbe00,
  200: #d28c14,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
  ),
);

$red: (
  50: #ff6e6e,
  100: #c81919,
  200: #820019,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
  ),
);

$primary: mat.define-palette($cyan, 1000, 400, 800);
$accent: mat.define-palette($grass, 1000, 400, 800);
$warn: mat.define-palette($red, 100, 50, 200);
$warn-2: mat.define-palette($yellow, 100, 50, 200);
$header-1: mat.define-palette($navy, 1000, 400, 800);
$header-2: mat.define-palette($forest, 1000, 400, 800);
$header-3: mat.define-palette($orange, 1000, 400, 800);
$header-4: mat.define-palette($purple, 1000, 400, 800);
$hover: mat.define-palette($grey, 500, 200, 400);

@function custom-light-theme(
  $primary,
  $accent,
  $warn,
  $warn-2,
  $header-1,
  $header-2,
  $header-3,
  $header-4,
  $hover
) {
  @return map-merge(
    mat.define-light-theme($primary, $accent, $warn),
    (
      warn-2: $warn-2,
      header-1: $header-1,
      header-2: $header-2,
      header-3: $header-4,
      header-4: $header-4,
      hover: $hover,
    )
  );
}

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: custom-light-theme(
  $primary,
  $accent,
  $warn,
  $warn-2,
  $header-1,
  $header-2,
  $header-3,
  $header-4,
  $hover
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.no-hover-effect.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}
