<div class="ingestor-mixed-header">
  <h2 mat-dialog-title>
    Correct dataset-specific metadata
  </h2>
  <button mat-icon-button mat-dialog-close aria-label="Close"
    class="ingestor-close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">

  <div *ngIf="!extractorMetaDataReady" class="spinner-container">
    <mat-progress-spinner diameter="20"
      mode="indeterminate"></mat-progress-spinner>
      <div class="spinner-text">
        <span>Wait for the Ingestor...</span>
      </div>
  </div>

  <div *ngIf="extractorMetaDataReady">
    <ingestor-dialog-stepper [activeStep]="2"></ingestor-dialog-stepper>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="80%">
        <mat-card>
          <mat-card-header class="instrument-header">
            <div mat-card-avatar class="section-icon">
              <mat-icon> biotech </mat-icon>
            </div>
            Instrument Information
          </mat-card-header>
          <mat-card-content>
            <app-metadata-editor [schema]="metadataSchemaInstrument"
              [data]="createNewTransferData.userMetaData['instrument']"
              (dataChange)="onDataChangeUserMetadataInstrument($event)"></app-metadata-editor>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="acquisition-header">
            <div mat-card-avatar class="section-icon">
              <mat-icon> category-search </mat-icon>
            </div>
            Acquisition Information
          </mat-card-header>
          <mat-card-content>
            <app-metadata-editor [schema]="metadataSchemaAcquisition"
              [data]="createNewTransferData.userMetaData['acquisition']"
              (dataChange)="onDataChangeUserMetadataAcquisition($event)"></app-metadata-editor>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onClickBack()">Back</button>
  <button mat-button color="primary" cdkFocusInitial [mat-dialog-close]="true" disabled="!extractorMetaDataReady"
    (click)="onClickNext()">Next</button>
</mat-dialog-actions>