<div class="ingestor-mixed-header">
  <h2 mat-dialog-title>
    Confirm transfer
  </h2>
  <button mat-icon-button mat-dialog-close aria-label="Close"
    class="ingestor-close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <ingestor-dialog-stepper [activeStep]="3"
    [createNewTransferData]="createNewTransferData"
    (createNewTransferDataChange)="onCreateNewTransferDataChange($event)"></ingestor-dialog-stepper>

  <p *ngIf="errorMessage !== ''">
    <mat-card class="ingestor-card">
      <mat-card-header class="ingestor-mixed-header">
        <mat-card-title>Error message</mat-card-title>
        <button mat-icon-button class="ingestor-close-button"
          (click)="clearErrorMessage()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="ingestor-vertical-layout">
        <div>
          <p style="color: red" [innerHTML]="errorMessage"></p>
        </div>
      </mat-card-content>
    </mat-card>
  </p>

  <p>Confirm Metadata</p>

  <div class="code-editor">
    <pre class="code">
    <div *ngFor="let line of provideMergeMetaData.split('\n')">
      <code>{{ line }}</code>
    </div>
    </pre>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onClickBack()">Back</button>
  <button mat-button color="primary" cdkFocusInitial
    (click)="onClickConfirm()">Ingest</button>
</mat-dialog-actions>