.remove_button {
  border-radius: 2px;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: #d73a49;
  width: 22px;
  height: 22px;
  top: 11px;
  right: 10px;
  align-items: center;
  img {
    width: 18px;
  }
}

.add_button {
  background: #00ff00;
}


