button {
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.material-icons {
  vertical-align: middle;
}

.formRow {
  .formColumn {
    padding-right: 1em;

    .selectField {
      max-width: 7em;
    }
  }
  .deleteButton {
    color: #c81919;
  }
}

.addButton {
  color: #ffffff;
  background: #0ea432;
}

.submitButton {
  color: #ffffff;
  background: #0094ca;
}
