<dynamic-mat-table
  [tableName]="tableName"
  [columns]="columns"
  [dataSource]="dataSource"
  [pagination]="pagination"
  [pagingMode]="paginationMode"
  [setting]="setting"
  [pending]="pending"
  [rowSelectionMode]="rowSelectionMode"
  [showGlobalTextSearch]="true"
  [globalTextSearch]="globalTextSearch"
  [globalTextSearchPlaceholder]="'Title, Creator, DOI...'"
  (paginationChange)="onPaginationChange($event)"
  (globalTextSearchChange)="onGlobalTextSearchChange($event)"
  (globalTextSearchApply)="onGlobalTextSearchAction()"
  [emptyMessage]="'No published data available'"
  [emptyIcon]="'folder'"
>
</dynamic-mat-table>
