name: Comment on the pull request

# see https://securitylab.github.com/research/github-actions-preventing-pwn-requests/   
# read-write repo token
# access to secrets
on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:
      - name: 'Download artifact'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "coverage"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/coverage.zip', Buffer.from(download.data));
      - run: unzip pr.zip
      - name: 'get PR number'
        run: echo "pr_number=$(cat ./PR)">> $GITHUB_ENV
  
      - name: report coverage
        uses: Nef10/lcov-reporter-action@v0.4.0
        with:
          lcov-file: lcov.info
          pr-number: ${{ env.pr_number }}      
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: comment.html
      - name: Post code coverage report
        uses: marocchino/sticky-pull-request-comment@v2.8.0
        with:
          path: comment.html
          number: ${{ env.pr_number }}            
