@use '~@angular/material' as mat;
@import "../../../theme.scss";

mat-card {
  margin: 1em;

  .general-header {
    background-color: mat.get-color-from-palette($primary, lighter);
  }

  .creator-header {
    background-color: mat.get-color-from-palette($navy, 400);
  }

  .file-header {
    background-color: mat.get-color-from-palette($accent, lighter);
  }

  .related-header {
    background-color: mat.get-color-from-palette($forest, 400);
  }

  .derived-header {
    background-color: mat.get-color-from-palette($orange, 400);
  }

  .scientific-header {
    background-color: mat.get-color-from-palette($purple, 400);
  }

  .section-icon {
    height: auto !important;
    width: auto !important;

    mat-icon {
      vertical-align: middle;
    }
  }

  table {
    th {
      min-width: 10em;
      padding-right: 0.5em;
      text-align: left;
    }

    td {
      width: 100%;
      padding: 0.5em;

      mat-chip:hover {
        cursor: pointer;
      }
    }
  }
}
