.empty-content {
  margin: 16px 0;
}

::ng-deep app-empty-content .mat-mdc-card {
  box-shadow: none !important;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
  }

  .content-icon {
    opacity: 0.7;
  }
  .message {
    font-size: 16px;
  }

  .actions {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;

    button[mat-icon-button] {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
